
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="jquery.charactercounter.js"></script>
</head>
<body>



<div class="row" style="background: #F1F2F3;">
  <div class="col-xs-12 col-sm-6 col-md-8">


    <%= simple_form_for(@ad) do |f| %>
 <%= f.error_notification %>

 <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


          <div class="container-md">
            <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                
                
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  

                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      
                    </div>
                    <div class="col-md-11 col-sm-8 m-l-15 m-r-15">





        

                      <label> <strong class="lead m ">Ad Title:</strong> Write a short description of your ad and include all of the key highlights. 100 characters max. </label>
<%= f.text_area :name, :label => 'Ad Title', class: "form-control ", id: "counted" %>
<p>Current character count: <span id="char-count">0</span> / 100</p>



                     
                    </div>
                  </div>



                    <!--div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Genre</p>
                    </div>



                    <div class="col-md-5 col-sm-8">

                       <label>Select a category for this Artist</label>


                       <%# f.collection_select :genre_id, Genre.all, :id, :name, {:include_blank => 'Select Genre Category'}, :class => "form-control", input_html: { class: "dropdown-toggle "} %>
                      
                    </div>
                  </div-->






                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->


            <%= f.label :tag_list, 'Tags (start typing to select or create new)' %>
<%# f.text_field :tag_list, class: 'form-control' %>

<%# f.select :tag_ids, Tag.all.pluck(:name, :id), {}, {multiple: true, class: "selectize"} %>

<%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: "selectize"} %>







<!--start main content card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div><strong class="lead">Ad Details</strong></div>
               
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      
                    </div>
                    <div class="col-md-8 col-sm-8">

                     







                      <label> Write a short summary about this Ad 230 characters max </label>

                      <%= f.input :description, label: false, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 3, class: 'form-control' } %>

                      



                      <br>




                      <label> Now add as much details or specs possible. Ads with detailed and longer descriptions get more views and replies! <p>Current character count: <span id="char-count">0</span> / 1000 (12 words minimum).</p>
 </label>
                            <%= f.trix_editor :ad_details %>

                           

                          

                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->


    

<!--end main content card-->







<!--start Social media-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div><strong class="lead">Contact Details</strong></div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                     
                    </div>
                    <div class="col-md-5 col-sm-8 m-l-15 m-r-15">

                      
                            <%# f.input :telephone, :label => 'Contact phone', :class => "form-control" %>

                           <%# f.input :email, :label => 'Email address', :class => "form-control" %>

                           <%# f.input :website_url, :label => 'Website link', :class => "form-control" %>

                                                 
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end social media card-->



<!--start Social media-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div><strong class="lead">Add a Video</strong></div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                     
                    </div>
                    <div class="col-md-5 col-sm-8 m-l-15 m-r-15">

                      
                            <%= f.input :youtube_video_link, :placeholder =>'example: https://www.youtube.com/watch?v=nLl0z0YC6hk', :class => "form-control" %>

                           <%# f.input :twitter_url, :label => 'Twitter link', :class => "form-control" %>

                           <%# f.input :instagram_url, :label => 'Instagram link', :class => "form-control" %>

                           <%# f.input :youtube_chanel_url, :label => 'Youtube Charnel link', :class => "form-control" %>

                           <%# f.input :googleplus_url, :label => 'Googleplus link', :class => "form-control" %>

                           <%# f.input :pinterest_url, :label => 'Pinterest link', :class => "form-control" %>

                           <%# f.input :linkedin_url, :label => 'Linkedin link', :class => "form-control" %>



                      
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end social media card-->

<!--Photo Gallery-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div><strong class="lead">Images for this Ad</strong></div>
             
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                 


                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                   
                    </div>
                    <div class="col-md-8 col-sm-8 bg-upfrica-grey">


                      <div class="card ">


                      <label style="color: #000000; font-size: 15px; padding: 10px; font-family: Questrial"; ><strong>Add nice and clear images to this Ad (5 images max) </strong> </label>

                     <%= f.file_field :adimages, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>

                      </div>

                      

                  </div>




                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--photo galleryt ends-->











<br>

<div class="form-actions text-center">
    <%= f.button :submit, class: "bg-green-dft" %>
  </div>

<br>



           

                  
                </div>
         

        
         


  <% end %>

</div>




<div class="col-xs-12 col-md-4">

<div class="container-fluid">

  <div class="card sidebar-card">
                            <div class="card-header uppercase ">
                                <h4 class="m-l-20"><strong><i class="ion-android-bulb fa-2x text-inverse m-r-5"></i>Successful Ad Tips</strong></h4>
                            </div>
                            <div class="card-content">
                               
                                    

                      <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-warning"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Tag your post to increase user views</strong><span> choose the relevant tags available from the tag list or create a new tag for your post</span></p>
                      <div class="clearfix"></div>

                    </div>
                  </div>

                   <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Add a photo and a video</strong><span> to keep users more engaged</span></p>
                      <div class="clearfix"></div>

                    </div>
                  </div>

                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-warning"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Formate your content nicely</strong><span> use the text editor for a good formating</span></p>
                      <div class="clearfix"></div>

                    </div>
                  </div>

                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Share!</strong><span> after creating your post, use the share button and with friends to increase user views </span></p>
                      <div class="clearfix"></div>

                    </div>
                  </div>




                                </div>
                            </div>
                        </div>

  

</div>




  </div>
</div>

</body>
</html>


<!--Modal-->
<div class="modal fade tag-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Add Tag</h4>
      </div>
      <div class="modal-body">

         <div class="modal-body">
        <%= form_for Tag.new do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $('#char-count').html($('#counted').val().length);
    });

    $('#counted').keyup(function() {
        $('#char-count').html($(this).val().length);
    });
    $('#char-count').html($('#counted').val().replace(/\n/g, "\n\r").length);
    $('#char-count').html($(this).val().replace(/\n/g, "\n\r").length)
</script>









