
<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>


                           <div class="form-group"> 



           <div class="col-md-12 m-b-10">
                                        <label class="radio-inline">
                                <%= radio_button :is_female, {}, true %> <%= form.label :is_female, "Female" %>
                                        </label>

                                        <label class="radio-inline">
                                         <%= radio_button :is_female, {}, false %> <%= form.label :is_female, "Male" %>
                                        </label>
                                    </div>

  <div class="field">
    <%= form.label :Summary %>
    <%= form.text_field :summary %>
    
  </div>

  <div><%= form.label :birthday %><br />
        <%= form.date_select :date_of_birth, :start_year => 1945, required: true %>&nbsp<span>




<div class="form-group">
    <%= form.label :location_ids, "CLOSE LOCATION" %>
    <%= form.select :location_ids, Location.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>

<div class="form-group">
    <%= form.label :skill_ids, "CLOSE SKILL" %>
    <%= form.select :skill_ids, Skill.all.pluck(:title, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>






<div class="field">

   <%= form.label :add_profile_photo %><br>
    <%= form.file_field :pesnavatar %><br>

    </div>

    <div class="field">

   <%= form.label :add_profilecover %><br>
    <%= form.file_field :profilecover %><br>

    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

