
<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :Summary %>
    <%= form.text_field :summary %>
    
  </div>




<div class="form-group">
    <%= form.label :location_ids, "CLOSE LOCATION" %>
    <%= form.select :location_ids, Location.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>






<div class="field">

   <%= form.label :add_profile_photo %><br>
    <%= form.file_field :pesnavatar %><br>

    </div>

    <div class="field">

   <%= form.label :add_profilecover %><br>
    <%= form.file_field :profilecover %><br>

    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

