
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Centric - Bootstrap Admin Template</title>
    <!-- Vendor styles-->
    <!-- build:css(../app) css/vendor.css-->
    <!-- Animate.CSS-->
    



      <!-- top navbar-->

      

    





      <!-- Main section-->
      <main class="custombgD9E0E7 ">



 




<div class="container-fluid  pushtop">
   

    <div class="fb-profile center-img">



        

<% if  @profile.profilecover? %>

<img align="left" class="fb-image-lg" src=" <%= @profile.profilecover.url(:large) %>" alt="Profile image"/>

<% else %>

<div class="container-overlap bg-blue-400 pushtop"><%# image_tag "cover2.jpg" %>
 </div>
<% end %>



        


       


        


<% if  @profile.profilecover? %>

<img align="left" class="fb-image-lg" src=" <%= @profile.profilecover.url(:large) %>" alt="Profile image example"/>

<% else %>

<div class="bg-blue-500" style="height: 400px !important;"><%# image_tag "cover2.jpg" %>
 

 </div>
<% end %>



        <img align="left" class="fb-image-profile thumbnail" src=" <%= image_path "noimage.jpg" %>" alt="Profile image example" />

       


      


       <div class="card-item-text ">
<!--nav--><nav class="[ navbar navbar-defaulf ][ navbar-bootsnipp animate ] topimg2" style="max-height:70px !important; overflow: hidden !important;" >
        <div class="">

        <div class="profile-nav">

   

  <!-- Collect the nav links, forms, and other content for toggling -->
  
      <ul class="nav navbar-nav animated fadeIn navbar-left">
        <!--li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li-->
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle name-fcolor" data-toggle="dropdown"> <%= @profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ @profile.last_name.split(" ").map(&:capitalize).join(" ") if @profile.first_name || @profile.last_name %>


          <span class="caret"></span></a>
          <ul class="dropdown-menu animated flipInX" role="menu">
            
            
            <li><a href="/urbanterms"> Ghana Urban Terms</a></li>
            <li><a href="/hows"> Hows</a></li>
            <li><a href="/events"> Events</a></li>
            <li><a href="/songs"> Music</a></li>
            <li><a href="/profiles"> People</a></li>


          </ul>


         <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis">University of CapeCoast</span> <br>
        <span class= "text-center">1999 - 2003</span> </a></li>

        <li> <a href="#"> <span class= "text-muted text-ellipsis">Views</span> <br>
        <span class= "text-center"><%= @profile.impressionist_count(:filter=>:session_hash) %></span> </a></li>
          

         <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis">Posts</span> <br>
        <span class= "text-center">345</span> </a></li>


        <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis"><%# link_to connect_profile_path(@profile), method: :put do %>
  
  <%# "Connection".pluralize(@profile.get_upvotes.size) %></span> <br>
        <span class= "text-center"><%# @profile.get_upvotes.size %></span> </a><%# end %></li>







      </ul>

    






    <ul class="nav navbar-nav navbar-right">
      




      <li><%= link_to connect_profile_path(@profile), method: :put do %>
  
  Connect
<% end %></li>
      
    </ul>



  </div><!-- /.navbar-collapse -->
    



 


  </div><!-- /.container-fluid -->
</nav><!-- navbar-ends -->


       </div>



        

        <!--div class="fb-profile-text">


            <h1>Eli Macy</h1>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>



        </div-->



    </div>
</div> <!-- /container -->  






<!--end profile nav-->           
                    


     <%# render 'bottomnav'%>


<!--cover--><div class=" container-fluid topimg2">








<div class="row">

<!--right-->
<div class="col-md-3 col-lg-3" style="padding-left: ;">

 <div class="">
                  <h1 class="card-heading black-f text-center">
                    <!-- START dropdown-->
                    
                    <!-- END dropdown-->Summary
                  </h1>
                    

                    <div class="mda-list">
                    
                      <div class="mda-list-item-text mda-2-line">




                      <div class="profile-nav-txt-spec">


                      <%= @profile.summary if @profile.summary %>


                        

                      </div>




                        <h3>
<span class="profile-nav-txt-bold"><i class="fa fa-fw fa-map-marker"></i><%= render @profile.locations if @profile.locations.present? %><span class="text-muted text-ellipsis">Dansoman, GH</span></span></h3>


                       
                     
                    </div>



                    
                      <div class="mda-list-item-text mda-2-line">
                        <h3>

                  <span class="profile-nav-txt-bold"><i class="fa fa-fw fa-link"></i>
                  <a href="#">youtube/charlie.com</a>


                  </span>

                        

                        </h3>
                      
                      </div>
                   


                      <div class="mda-list-item-text mda-2-line">
                        <h3>

                  <span class="profile-nav-txt-bold"><i class="fa fa-fw fa-calendar"></i>
                  <a href="#" class="text-muted">Joined <%= @profile.created_at.strftime("%e %b %Y") %></a>


                  </span>

                  </h3>
                       
                      </div>
                 





                         <div class="mda-list-item-text mda-2-line">
                        <h3>

                  <span class="profile-nav-txt-bold"><i class="fa fa-file-image-o"></i>
                  <a href="#">Photos and videos </a>


                  </span>

                  </h3>
                    
                      </div>





                    </div>
                

</div>
</div>

<!-- right ends-->








         



          <!-- Left column col-md-7 col-lg-8-->
        <div class="col-md-6 col-lg-6">
                
                  
<div class="card shadow-z3">

       


                  <!--h5 class="card-heading pb0">
                     START dropdown
                  div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                      </ul>
                    </div-->
                    <!-- END dropdown
                  </h5-->

                  <div class="card-body">
                    <!--p data-type="textarea" class="is-editable text-inherit">


                    <%# if @profile.summary? %>
<%# best_in_place_if @profile == current_profile, @profile, :summary,  :as => :textarea, :class => "", :ok_button => 'Save ',  :cancel_button => ' Cancel' %>

<%# else %>

<%# end %>
                    	





                    </p-->
<!--stats-->
       <ul class="nav navbar-nav animated">
       <li class="ml-xl" >

     
         <p class="mb-xl"><em class="ion-eye icon-2x"></em>
                      
                       <strong class="mb-xl"><%= @profile.impressionist_count(:filter=>:session_hash) %></strong>
                       </p>
                       <br>
       </li>
       

       <li class="ml-xl">
         llll
       </li>

        <li class="ml-xl">
         
   


<%# link_to "location", location_path(@profile.location_ids) %>

<%= render @profile.locations if @profile.locations.present? %>




     

       </li>
         


       </ul>

       <!--stats ends-->




                  </div>

                  <!--edit user's definitions-->
                   
                  <div class="card-divider"></div>
                  <div class="card-offset">
                    <div class="card-offset-item text-right">

                    <% if @profile == current_profile && profile_signed_in? %>


                     <%= link_to edit_profile_path(@profile) do %><span class="btn-raised btn btn-warning btn-circle btn-lg"><em class="ion-edit"></em> <% end %></span>


                      <% else %> <% end %>
                    

                    </div>
                  </div>
                   

                  <!--edit end-->
</div>

<!-- summary-->

 <div class="card shadow-z3">

 <span class="black-f">Summary</span>

 <div class="card-body">

 <%= @profile.summary if @profile.summary %>

 </div>

 </div>

 <!-- summary ends-->




<!--tabs starts-->


                  <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
            <li class="active"><a href="#latest-post" data-toggle="tab"><i class="fa fa-picture-o m-r-5"></i> <span class="hidden-xs">Latest Post</span></a></li>
            <li class=""><a href="#purchase" data-toggle="tab"><i class="fa fa-shopping-cart m-r-5"></i> <span class="hidden-xs">Purchase</span></a></li>
            <li class=""><a href="#email" data-toggle="tab"><i class="fa fa-envelope m-r-5"></i> <span class="hidden-xs">Email</span></a></li>
          </ul>


          <div class="tab-content" data-sortable-id="index-3">
            <div class="tab-pane fade active in" id="latest-post">
              

              <div class="height-sm stnd-f" id="testDiv">


                <ul class="media-list media-list-with-divider">
                  <li class="media media-lg">
                    <a href="javascript:;" class="pull-left">
                      <img class="media-object" src="assets/img/gallery/gallery-1.jpg" alt="" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Aenean viverra arcu nec pellentesque ultrices. In erat purus, adipiscing nec lacinia at, ornare ac eros.</h4>
                      Nullam at risus metus. Quisque nisl purus, pulvinar ut mauris vel, elementum suscipit eros. Praesent ornare ante massa, egestas pellentesque orci convallis ut. Curabitur consequat convallis est, id luctus mauris lacinia vel. Nullam tristique lobortis mauris, ultricies fermentum lacus bibendum id. Proin non ante tortor. Suspendisse pulvinar ornare tellus nec pulvinar. Nam pellentesque accumsan mi, non pellentesque sem convallis sed. Quisque rutrum erat id auctor gravida.
                    </div>
                  </li>
                  <li class="media media-lg">
                    <a href="javascript:;" class="pull-left">
                      <img class="media-object" src="assets/img/gallery/gallery-10.jpg" alt="" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Vestibulum vitae diam nec odio dapibus placerat. Ut ut lorem justo.</h4>
                      Fusce bibendum augue nec fermentum tempus. Sed laoreet dictum tempus. Aenean ac sem quis nulla malesuada volutpat. Nunc vitae urna pulvinar velit commodo cursus. Nullam eu felis quis diam adipiscing hendrerit vel ac turpis. Nam mattis fringilla euismod. Donec eu ipsum sit amet mauris iaculis aliquet. Quisque sit amet feugiat odio. Cras convallis lorem at libero lobortis, placerat lobortis sapien lacinia. Duis sit amet elit bibendum sapien dignissim bibendum.
                    </div>
                  </li>
                  <li class="media media-lg">
                    <a href="javascript:;" class="pull-left">
                      <img class="media-object" src="assets/img/gallery/gallery-7.jpg" alt="" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Maecenas eget turpis luctus, scelerisque arcu id, iaculis urna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</h4>
                      Morbi placerat est nec pharetra placerat. Ut laoreet nunc accumsan orci aliquam accumsan. Maecenas volutpat dolor vitae sapien ultricies fringilla. Suspendisse vitae orci sed nibh ultrices tristique. Aenean in ante eget urna semper imperdiet. Pellentesque sagittis a nulla at scelerisque. Nam augue nulla, accumsan quis nisi a, facilisis eleifend nulla. Praesent aliquet odio non imperdiet fringilla. Morbi a porta nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                    </div>
                  </li>
                  <li class="media media-lg">
                    <a href="javascript:;" class="pull-left">
                      <img class="media-object" src="assets/img/gallery/gallery-8.jpg" alt="" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor accumsan rutrum.</h4>
                      Fusce augue diam, vestibulum a mattis sit amet, vehicula eu ipsum. Vestibulum eu mi nec purus tempor consequat. Vestibulum porta non mi quis cursus. Fusce vulputate cursus magna, tincidunt sodales ipsum lobortis tincidunt. Mauris quis lorem ligula. Morbi placerat est nec pharetra placerat. Ut laoreet nunc accumsan orci aliquam accumsan. Maecenas volutpat dolor vitae sapien ultricies fringilla. Suspendisse vitae orci sed nibh ultrices tristique. Aenean in ante eget urna semper imperdiet. Pellentesque sagittis a nulla at scelerisque.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="purchase">
              <div class="height-sm" id="testDivp">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th class="hidden-sm">Product</th>
                      <th>Amount</th>
                      <th>User</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>13/02/2013</td>
                      <td class="hidden-sm">
                        <a href="javascript:;">
                          <img src="assets/img/product/product-1.png" alt=""  />
                        </a>
                      </td>
                      <td>
                        <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
                      </td>
                      <td>$349.00</td>
                      <td><a href="javascript:;">Derick Wong</a></td>
                    </tr>
                    <tr>
                      <td>13/02/2013</td>
                      <td class="hidden-sm">
                        <a href="javascript:;">
                          <img src="assets/img/product/product-2.png" alt="" />
                        </a>
                      </td>
                      <td>
                        <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
                      </td>
                      <td>$399.00</td>
                      <td><a href="javascript:;">Derick Wong</a></td>
                    </tr>
                    <tr>
                      <td>13/02/2013</td>
                      <td class="hidden-sm">
                        <a href="javascript:;">
                          <img src="assets/img/product/product-3.png" alt="" />
                        </a>
                      </td>
                      <td>
                        <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
                      </td>
                      <td>$499.00</td>
                      <td><a href="javascript:;">Derick Wong</a></td>
                    </tr>
                    <tr>
                      <td>13/02/2013</td>
                      <td class="hidden-sm">
                        <a href="javascript:;">
                          <img src="assets/img/product/product-4.png" alt="" />
                        </a>
                      </td>
                      <td>
                        <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
                      </td>
                      <td>$230.00</td>
                      <td><a href="javascript:;">Derick Wong</a></td>
                    </tr>
                    <tr>
                      <td>13/02/2013</td>
                      <td class="hidden-tablet hidden-phone">
                        <a href="javascript:;">
                          <img src="assets/img/product/product-5.png" alt="" />
                        </a>
                      </td>
                      <td>
                        <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
                      </td>
                      <td>$500.00</td>
                      <td><a href="javascript:;">Derick Wong</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>




            <div class="tab-pane fade" id="email">
              <div class="height-sm" id="testDive">
                <ul class="media-list media-list-with-divider">
                  <li class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                      <img src="assets/img/user-1.jpg" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                      <a href="javascript:;"><h4 class="media-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4></a>
                      <p class="m-b-5">
                        Aenean mollis arcu sed turpis accumsan dignissim. Etiam vel tortor at risus tristique convallis. Donec adipiscing euismod arcu id euismod. Suspendisse potenti. Aliquam lacinia sapien ac urna placerat, eu interdum mauris viverra.
                      </p>
                      <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
                    </div>
                  </li>
                  <li class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                      <img src="assets/img/user-2.jpg" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                      <a href="javascript:;"><h4 class="media-heading">Praesent et sem porta leo tempus tincidunt eleifend et arcu.</h4></a>
                      <p class="m-b-5">
                        Proin adipiscing dui nulla. Duis pharetra vel sem ac adipiscing. Vestibulum ut porta leo. Pellentesque orci neque, tempor ornare purus nec, fringilla venenatis elit. Duis at est non nisl dapibus lacinia.
                      </p>
                      <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
                    </div>
                  </li>
                  <li class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                      <img src="assets/img/user-3.jpg" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                      <a href="javascript:;"><h4 class="media-heading">Ut mi eros, varius nec mi vel, consectetur convallis diam.</h4></a>
                      <p class="m-b-5">
                        Ut mi eros, varius nec mi vel, consectetur convallis diam. Nullam eget hendrerit eros. Duis lacinia condimentum justo at ultrices. Phasellus sapien arcu, fringilla eu pulvinar id, mattis quis mauris.
                      </p>
                      <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
                    </div>
                  </li>
                  <li class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                      <img src="assets/img/user-4.jpg" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                      <a href="javascript:;"><h4 class="media-heading">Aliquam nec dolor vel nisl dictum ullamcorper.</h4></a>
                      <p class="m-b-5">
                        Aliquam nec dolor vel nisl dictum ullamcorper. Duis vel magna enim. Aenean volutpat a dui vitae pulvinar. Nullam ligula mauris, dictum eu ullamcorper quis, lacinia nec mauris.
                      </p>
                      <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>


<!--tabs end-->
                

  













                  <div class="card sshadow-z3">


                  <span class="black-f ml">Summary</span>
                  <div class="card-body">
                  <%= @profile.summary if @profile.summary %>

                  </div>
                  </div>        


                   





                   <div class="card">


                  <span class="black-f ml">Contact Information</span>
                  <div class="card-body">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Area</td>
                          <td>Research &amp; development</td>
                        </tr>
                        <tr>
                          <td><em class="ion-egg icon-fw mr"></em>Birthday</td>
                          <td><span data-type="date" data-mode="popup" class="is-editable text-inherit">10/11/2000</span></td>
                        </tr>
                        <tr>
                          <td><em class="ion-ios-body icon-fw mr"></em>Member since</td>
                          <td><span data-type="date" data-mode="popup" class="is-editable text-inherit">05/11/2015</span></td>
                        </tr>
                        <tr>
                          <td><em class="ion-man icon-fw mr"></em>Gender</td>
                          <td><a id="gender" href="#" data-type="select" data-pk="1" data-value="2" data-title="Select sex" class="text-inherit"></a></td>
                        </tr>
                        <tr>
                          <td><em class="ion-android-home icon-fw mr"></em>Address</td>
                          <td><span class="is-editable text-inherit">Some street, 123</span></td>
                        </tr>
                        <tr>
                          <td><em class="ion-email icon-fw mr"></em>Email</td>
                          <td><span class="is-editable text-inherit"><a href="#">user@mail.com</a></span></td>
                        </tr>
                        <tr>
                          <td><em class="ion-ios-telephone icon-fw mr"></em>Contact phone</td>
                          <td><span class="is-editable text-inherit">13-123-46578</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>



                  <div class="card-divider"></div>


                  <div class="card">




                  <h5 class="card-heading pb0">Recent articles</h5>
                  <span class="black-f ml">Summary</span>
                  <div class="card-body">
                    <ul class="mda-list">
                      <li class="mda-list-item pl0 bb">
                        <div class="mda-list-item-text">
                          <h3><a href="#">Release 3.0 is out</a></h3>
                          <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">2 days ago</small>
                        </div>
                        <div class="pull-right">
                          <div class="pt-lg"><em tooltip="Active" class="icon-2x ion-checkmark-circled text-success"></em></div>
                        </div>
                      </li>
                      <li class="mda-list-item pl0 bb">
                        <div class="mda-list-item-text">
                          <h3><a href="#">Improving compatibility</a></h3>
                          <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">3 days ago</small>
                        </div>
                        <div class="pull-right">
                          <div class="pt-lg"><em tooltip="Active" class="icon-2x ion-checkmark-circled text-success"></em></div>
                        </div>
                      </li>
                      <li class="mda-list-item pl0">
                        <div class="mda-list-item-text">
                          <h3><a href="#">Small decisions count</a></h3>
                          <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">3 days ago</small>
                        </div>
                        <div class="pull-right">
                          <div class="pt-lg"><em tooltip="Pending" class="icon-2x ion-minus-circled text-warning"></em></div>
                        </div>
                      </li>
                    </ul>
                  </div>







          

</div>



              </div>











              <!-- Right column col-md-5 col-lg-4-->
              <div class="col-md-3 col-lg-3">
                <div class="card">
                  <h5 class="card-heading">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                      </ul>
                    </div>
                    <!-- END dropdown-->Contacts
                  </h5>
                  <div class="mda-list">
                    <div class="mda-list-item"><img src="img/user/01.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Eric Graves</a></h3>
                        <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/02.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Jessie Cox</a></h3>
                        <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/03.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Marie Hall</a></h3>
                        <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/04.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Guy Carpenter</a></h3>
                        <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pv0 text-right"><a href="#" class="btn btn-flat btn-info">View all</a></div>
                  <div class="card-divider"></div>
                  <h5 class="card-heading">Activity</h5>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Added</strong><span class="mr-sm">a new issue</span><a href="#">#5478</a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>an hour ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-danger"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Commented</strong><span class="mr-sm"> on the project</span><a href="#">Material</a></p>
                      <p class="bl pl"><i>That's awesome!</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Completed</strong><span> all tasks asigned this week</span></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Published</strong><span class="mr-sm"> new photos on the album</span><a href="#">WorldTrip</a></p>
                      <p><a href="#"><img src="img/pic4.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic5.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic6.jpg" alt="Pic" class="mr-sm thumb48"></a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="clearfix">
                      <p class="pull-left mr"><em class="ion-record text-primary"></em></p>
                      <div class="oh">
                        <p><strong class="mr-sm">Following</strong><span class="mr-sm">Jane Kuhn</span></p>
                        <p><span class="image-list"><a href="#"><img src="img/user/03.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/04.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/05.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/06.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/07.jpg" alt="User" class="img-circle thumb32"></a><strong><a href="#" class="ml-sm link-unstyled">+200</a></strong></span></p>
                        <div class="clearfix">
                          <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </section>








        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
    </div>
    <!-- Search template-->
    <div tabindex="-1" role="dialog" class="modal modal-top fade modal-search">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-left">
              <button type="button" data-dismiss="modal" class="btn btn-flat"><em class="ion-arrow-left-c icon-24"></em></button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-flat"><em class="ion-android-microphone icon-24"></em></button>
            </div>
            <form action="#" class="oh">
              <div class="mda-form-control pt0">
                <input type="text" placeholder="Search.." data-localize="header.SEARCH" class="form-control header-input-search">
                <div class="mda-form-control-line"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search template-->
    <!-- Settings template-->
    <div tabindex="-1" role="dialog" class="modal-settings modal modal-right fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div data-dismiss="modal" class="pull-right clickable"><em class="ion-close-round text-soft"></em></div>
            <h4 class="modal-title"><span>Settings</span></h4>
          </div>
          <div class="modal-body">
            <div class="clearfix mb">
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-1">
                    <input type="radio" checked="checked" name="setting-theme" value="0"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-2">
                    <input type="radio" name="setting-theme" value="1"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-3">
                    <input type="radio" name="setting-theme" value="2"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-4">
                    <input type="radio" name="setting-theme" value="3"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-5">
                    <input type="radio" name="setting-theme" value="4"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-6">
                    <input type="radio" name="setting-theme" value="5"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-7">
                    <input type="radio" name="setting-theme" value="6"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-8">
                    <input type="radio" name="setting-theme" value="7"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-9">
                    <input type="radio" name="setting-theme" value="8"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <hr>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-showheader" type="checkbox" checked=""><em class="bg-indigo-500"></em>Sidebar header
              </label>
            </p>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-showtoolbar" type="checkbox" checked=""><em class="bg-indigo-500"></em>Sidebar toolbar
              </label>
            </p>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-offcanvas" type="checkbox"><em class="bg-indigo-500"></em>Sidebar offcanvas
              </label>
            </p>
            <hr>
            <p>Navigation icon</p>
            <p>
              <label class="mda-radio">
                <input type="radio" name="headerMenulink" value="menu-link-close"><em class="bg-indigo-500"></em>Close icon
              </label>
            </p>
            <p>
              <label class="mda-radio">
                <input type="radio" checked="" name="headerMenulink" value="menu-link-slide"><em class="bg-indigo-500"></em>Slide arrow
              </label>
            </p>
            <p>
              <label class="mda-radio">
                <input type="radio" name="headerMenulink" value="menu-link-arrow"><em class="bg-indigo-500"></em>Big arrow
              </label>
            </p>
            <hr>
            <button type="button" data-toggle-fullscreen="" class="btn btn-default btn-raised">Toggle fullscreen</button>
            <hr>
            <p>Change language</p>
            <!-- START Language list-->
            <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-default btn-block btn-raised">English</button>
              <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li><a href="#" data-set-lang="en">English</a></li>
                <li><a href="#" data-set-lang="es">Spanish</a></li>
              </ul>
            </div>
            <!-- END Language list-->
          </div>
        </div>
      </div>

</html>

<script type="text/javascript">
    $(function(){

      $('#testDiv').slimScroll({
          alwaysVisible: true,
          railVisible: true
      });

        $('#testDivp').slimScroll({
          alwaysVisible: true,
          railVisible: true
      });

        $('#testDive').slimScroll({
          alwaysVisible: true,
          railVisible: true
      });

      $('#testDiv2').slimScroll({
          railVisible: true,
          railColor: '#f00'
      });

      $('#testDiv3').slimScroll({
          railVisible: true,
          railOpacity: 0.8
      });

      $('#testDiv4').slimscroll({
        railVisible: true,
        railBorderRadius: 0
      });

      $('#testDiv5').slimscroll({
        railDraggable: false
      });
    });
</script>



<script type="text/javascript">
  
var wrap = $("#wrap");

wrap.on("scroll", function(e) {
    
  if (this.scrollTop > 147) {
    wrap.addClass("fix-search");
  } else {
    wrap.removeClass("fix-search");
  }
  
});

</script>