
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Centric - Bootstrap Admin Template</title>
    <!-- Vendor styles-->
    <!-- build:css(../app) css/vendor.css-->
    <!-- Animate.CSS-->
    



      <!-- top navbar-->

      

      <!-- sidebar-->
      <!--aside class="sidebar-container">
        <div class="sidebar-header">
          <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="#" class="sidebar-header-logo"><img src="img/logo.png" data-svg-replace="img/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">Centric</span></a>
        </div>
        <div class="sidebar-content">
          <div class="sidebar-toolbar text-center"><a href=""><img src="img/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
            <div class="mt">Welcome, Willie Webb</div>
          </div>
          <nav class="sidebar-nav">
            <ul>
              <li><a href="dashboard.html" class="ripple"><span class="pull-right nav-label"><span class="badge bg-success">2</span></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/aperture.svg" alt="MenuItem" class="hidden"></span><span>Dashboard</span></a></li>
              <li><a href="cards.html" class="ripple"><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/radio-waves.svg" alt="MenuItem" class="hidden"></span><span>Cards</span></a></li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/connection-bars.svg" alt="MenuItem" class="hidden"></span><span>Charts</span></a>
                <ul class="sidebar-subnav">
                  <li><a href="flot.html" class="ripple"><span class="pull-right nav-label"></span><span>Flot</span></a></li>
                  <li><a href="radial.html" class="ripple"><span class="pull-right nav-label"></span><span>Radial</span></a></li>
                  <li><a href="rickshaw.html" class="ripple"><span class="pull-right nav-label"></span><span>Rickshaw</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/clipboard.svg" alt="MenuItem" class="hidden"></span><span>Forms</span></a>
                <ul class="sidebar-subnav">
                  <li><a href="forms.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a href="validation.html" class="ripple"><span class="pull-right nav-label"></span><span>Validation</span></a></li>
                  <li><a href="forms.advanced.html" class="ripple"><span class="pull-right nav-label"></span><span>Advanced</span></a></li>
                  <li><a href="material.html" class="ripple"><span class="pull-right nav-label"></span><span>Material</span></a></li>
                  <li><a href="editor.html" class="ripple"><span class="pull-right nav-label"></span><span>Editors</span></a></li>
                  <li><a href="dropzone.html" class="ripple"><span class="pull-right nav-label"></span><span>Dropzone</span></a></li>
                  <li><a href="xeditable.html" class="ripple"><span class="pull-right nav-label"></span><span>xEditable</span></a></li>
                  <li><a href="wizard.html" class="ripple"><span class="pull-right nav-label"></span><span>Wizard</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/navicon.svg" alt="MenuItem" class="hidden"></span><span>Tables</span></a>
                <ul id="tables" class="sidebar-subnav">
                  <li><a href="tables.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a href="datatable.html" class="ripple"><span class="pull-right nav-label"></span><span>Datatable</span></a></li>
                  <li><a href="bootgrid.html" class="ripple"><span class="pull-right nav-label"></span><span>Bootgrid</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/grid.svg" alt="MenuItem" class="hidden"></span><span>Layouts</span></a>
                <ul id="layouts" class="sidebar-subnav">
                  <li><a href="layouts.columns.html" class="ripple"><span class="pull-right nav-label"></span><span>Columns</span></a></li>
                  <li><a href="layouts.overlap.html" class="ripple"><span class="pull-right nav-label"></span><span>Overlap</span></a></li>
                  <li><a href="layouts.boxed.html" class="ripple"><span class="pull-right nav-label"></span><span>Boxed</span></a></li>
                  <li><a href="layouts.tabs.html" class="ripple"><span class="pull-right nav-label"></span><span>Tabs</span></a></li>
                  <li><a href="layouts.containers.html" class="ripple"><span class="pull-right nav-label"></span><span>Containers</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/levels.svg" alt="MenuItem" class="hidden"></span><span>Elements</span></a>
                <ul id="elements" class="sidebar-subnav">
                  <li><a href="colors.html" class="ripple"><span class="pull-right nav-label"></span><span>Colors</span></a></li>
                  <li><a href="whiteframes.html" class="ripple"><span class="pull-right nav-label"></span><span>Whiteframes</span></a></li>
                  <li><a href="lists.html" class="ripple"><span class="pull-right nav-label"></span><span>Lists</span></a></li>
                  <li><a href="bootstrapui.html" class="ripple"><span class="pull-right nav-label"></span><span>Bootstrap</span></a></li>
                  <li><a href="buttons.html" class="ripple"><span class="pull-right nav-label"></span><span>Buttons</span></a></li>
                  <li><a href="sweetalert.html"><span class="pull-right nav-label"></span><span>Sweet-alert</span></a></li>
                  <li><a href="spinners.html" class="ripple"><span class="pull-right nav-label"></span><span>Spinners</span></a></li>
                  <li><a href="nestable.html" class="ripple"><span class="pull-right nav-label"></span><span>Nestable</span></a></li>
                  <li><a href="grid.html" class="ripple"><span class="pull-right nav-label"></span><span>Grid</span></a></li>
                  <li><a href="grid-masonry.html" class="ripple"><span class="pull-right nav-label"></span><span>Grid Masonry</span></a></li>
                  <li><a href="typography.html" class="ripple"><span class="pull-right nav-label"></span><span>Typography</span></a></li>
                  <li><a href="icons.html" class="ripple"><span class="pull-right nav-label"></span><span>Icons</span></a></li>
                  <li><a href="utilities.html" class="ripple"><span class="pull-right nav-label"></span><span>Utilities</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/planet.svg" alt="MenuItem" class="hidden"></span><span>Maps</span></a>
                <ul id="maps" class="sidebar-subnav">
                  <li><a href="google-map-full.html" class="ripple"><span class="pull-right nav-label"></span><span>Google Maps Full</span></a></li>
                  <li><a href="google-map.html" class="ripple"><span class="pull-right nav-label"></span><span>Google Maps</span></a></li>
                  <li><a href="vector-map.html" class="ripple"><span class="pull-right nav-label"></span><span>Vector Maps</span></a></li>
                  <li><a href="datamaps.html" class="ripple"><span class="pull-right nav-label"></span><span>Datamaps</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/ios-browsers.svg" alt="MenuItem" class="hidden"></span><span>Pages</span></a>
                <ul id="pages" class="sidebar-subnav">
                  <li><a href="timeline.html" class="ripple"><span class="pull-right nav-label"></span><span>Timeline</span></a></li>
                  <li><a href="invoice.html" class="ripple"><span class="pull-right nav-label"></span><span>Invoice</span></a></li>
                  <li><a href="pricing.html" class="ripple"><span class="pull-right nav-label"></span><span>Pricing</span></a></li>
                  <li><a href="contacts.html" class="ripple"><span class="pull-right nav-label"></span><span>Contacts</span></a></li>
                  <li><a href="faq.html" class="ripple"><span class="pull-right nav-label"></span><span>FAQ</span></a></li>
                  <li><a href="projects.html" class="ripple"><span class="pull-right nav-label"></span><span>Projects</span></a></li>
                  <li><a href="blog.html" class="ripple"><span class="pull-right nav-label"></span><span>Blog</span></a></li>
                  <li><a href="blog.article.html" class="ripple"><span class="pull-right nav-label"></span><span>Article</span></a></li>
                  <li><a href="profile.html" class="ripple"><span class="pull-right nav-label"></span><span>Profile</span></a></li>
                  <li><a href="gallery.html" class="ripple"><span class="pull-right nav-label"></span><span>Gallery</span></a></li>
                  <li><a href="wall.html" class="ripple"><span class="pull-right nav-label"></span><span>Wall</span></a></li>
                  <li><a href="search.html" class="ripple"><span class="pull-right nav-label"></span><span>Search</span></a></li>
                  <li><a href="messages.html" class="ripple"><span class="pull-right nav-label"></span><span>Messages Board</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/person-stalker.svg" alt="MenuItem" class="hidden"></span><span>User</span></a>
                <ul id="user" class="sidebar-subnav">
                  <li><a href="login.html" class="ripple"><span class="pull-right nav-label"></span><span>Login</span></a></li>
                  <li><a href="signup.html" class="ripple"><span class="pull-right nav-label"></span><span>Signup</span></a></li>
                  <li><a href="lock.html" class="ripple"><span class="pull-right nav-label"></span><span>Lock</span></a></li>
                  <li><a href="recover.html" class="ripple"><span class="pull-right nav-label"></span><span>Recover</span></a></li>
                </ul>
              </li>
              <li><a href="../../angularjs/" class="ripple"><span class="nav-icon"><em class="ion-android-open"></em></span><span>AngularJS</span></a></li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="sidebar-layout-obfuscator"></div-->





      <!-- Main section-->
      <main class="custombgD9E0E7">

      <div class="page-title has-bg">
        <!-- begin bg-cover -->
        <!--div class="bg-cover">
            <%# image_tag("cover3.jpg", :class =>"img-responsive") %>
        </div-->
        

        <!-- Page content-->
       






 <div class="container-overlap card-item" style="background-image: url(<%= @profile.profilecover.url(:large) if @profile.profilecover %>); background-repeat: no-repeat; top: -30px; background-position: center;">

     



            <div class="container container-md">



<div class="media-left">






             



              </div>
              <div class="media-body media-middle">

              





                




                <span class="text-center mb-xl">

                       <div class="col-sm-3 bordered-right" style="font-size: 16px; color: #ffffff;"> 

                      

                       </div>

              </div>




    
                 
   <!--profile pic-->       
     <div class="card-offset" style="z-index: 999; top-margin: 180px;"> 
                        <div class="card-offset-item text-left" style="z-index: 999 !mportannt;">


                                  <!--profilepic-->       
      <% if @profile.pesnavatar? %>
        <%= link_to (image_tag @profile.pesnavatar.url(:small), :class => " thumb-prof btn-raised btn-circle img-responsive card-item "), @profile %>
        <% else %> 
        <%= image_tag("noimage.jpg", :class => "thumb-prof btn-raised btn-circle img-responsive card-item ") %>

       <% end %>




        
<!--end profile pic-->


                          <!--button type="button" class="btn-raised btn btn-primary btn-circle btn-lg">25</button-->



                        </div> </div>

        
<!--end profile pic-->
     
     




            </div>


 

          </div>


   <!--div class="container stnd-f">
  <img src="http://lorempixel.com/100/100/people/9" class="img-av" />
  <div class="figcaption">
    <p class="stnd-f">some text here  10px away from image</p>
    <p class="stnd-f">and more</p>
    </div>
  </div-->



      <!--profile Nav-->          
 
  <nav class="[ navbar navbar-defaulf ][ navbar-bootsnipp animate ] topclose-20" style="top: -30px; z-index: 999 !mportannt;">
        <div class="[ container ]">

        <div class="profile-nav">

   

  <!-- Collect the nav links, forms, and other content for toggling -->
  
      <ul class="nav navbar-nav animated fadeIn navbar-left">
        <!--li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li-->
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle name-fcolor" data-toggle="dropdown"> <%= @profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ @profile.last_name.split(" ").map(&:capitalize).join(" ") if @profile.first_name || @profile.last_name %>


          <span class="caret"></span></a>
          <ul class="dropdown-menu animated flipInX" role="menu">
            
            
            <li><a href="/urbanterms"> Ghana Urban Terms</a></li>
            <li><a href="/hows"> Hows</a></li>
            <li><a href="/events"> Events</a></li>
            <li><a href="/songs"> Music</a></li>
            <li><a href="/profiles"> People</a></li>


          </ul>


         <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis">University of CapeCoast</span> <br>
        <span class= "text-center">1999 - 2003</span> </a></li>

        <li> <a href="#"> <span class= "text-muted text-ellipsis">Views</span> <br>
        <span class= "text-center"><%= @profile.impressionist_count(:filter=>:session_hash) %></span> </a></li>
          

         <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis">Posts</span> <br>
        <span class= "text-center">345</span> </a></li>


        <li class="text-center"> <a href="#"> <span class= "text-muted text-ellipsis"><%= link_to connect_profile_path(@profile), method: :put do %>
  
  <%= "Connection".pluralize(@profile.get_upvotes.size) %></span> <br>
        <span class= "text-center"><%= @profile.get_upvotes.size %></span> </a><% end %></li>







      </ul>

    

text-muted text-ellipsis




    <ul class="nav navbar-nav navbar-right">
      




      <li><%= link_to connect_profile_path(@profile), method: :put do %>
  
  Connect
<% end %></li>
      
    </ul>



  </div><!-- /.navbar-collapse -->
    



 


  </div><!-- /.container-fluid -->
</nav>

<!--end profile nav-->           
                    


     <%# render 'bottomnav'%>