<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>UpFrica - Artists</title>
    <!-- Vendor styles-->
    <!-- build:css(../app) css/vendor.css-->
    
  </head>
  <body class="bg-upfrica-grey">




<div class="col-md-4 col-md-offset-4 centered">
  <div class="transitions-enabled" id="upfrica-pins" >
    <% @artists.each do |artist| %>
    <div class="box panel panel-default">

      <% if artist.artistphoto? %>
      <%= link_to image_tag(artist.artistphoto.url(:vert), :class => "img-responsive"), artist %>
      <% elsif artist.artistprofilecover?  %>
      <%= link_to image_tag(artist.artistprofilecover.url, :class => "img-responsive"), artist %>
      <% else %>
      <%= link_to image_tag('noimage.jpg', :class => "img-responsive"), artist %>
      <% end %>
      <h2> <%= link_to truncate(artist.name.titleize, length: 17), artist %></h2>

      <div class="panel-footer"> GH | <%= pluralize(artist.songs.count, "Song") %></div>


    </div>
    <% end %>
  </div>
</div>



</body>
</html>



