<div class="comments-show bg-gray-lighter">
  <div class="comment">
    

    <!--p><%# comment.body %><br></p-->

        <div class="mt">
                    <div class="media">

                      <!--comment profile image-->
                      <div class="media-left">




                      <% if comment.profile.pesnavatar? %>
                       <%=link_to (image_tag(comment.profile.pesnavatar.url(:small), :class => "media-object img-circle thumb48 m-l-10 m-t-10")), profile_path(comment.profile_id) %>
                      <% else %> 
                      <%= link_to (image_tag("noimage.jpg", :class => "media-object img-circle thumb48")), profile_path(comment.profile_id) %>
                      <% end %>





                       
                      </div>
                      <!--comment profile image ends-->


                      <div class="media-body">

                        <!--profile name-->

                        <h6 class="mt10 mb-sm"><%= link_to comment.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ comment.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(comment.profile_id) if comment.profile.first_name || comment.profile.last_name %>

                          <!--profile name ends-->

                         <small class="text-muted"><% if comment.created_at > Time.now.beginning_of_day %>
                         <%="#{time_ago_in_words(comment.created_at)} ago"%> 
                         <% else %>
                         <%= comment.created_at.strftime("%H:%M %b %d, %Y ") %> 
                         <% end %>
                
                <span class="divider">| </span>Report</small>

                        </h6>
                        

                        <div class="mb m-r-10"><%= comment.body %></div>
                        <!--ul class="list-inline">
                          <li><a href="#" class="text-soft"><em class="ion-thumbsup icon-2x"></em></a></li>
                          <li><a href="#" class="text-soft"><em class="ion-thumbsdown icon-2x"></em></a></li>
                          <li><a href="#" class="text-soft"><em class="ion-android-share-alt icon-2x"></em></a></li>
                        </ul-->
                       
                      </div>
                    </div>
</div>


    <!--comments body ends-->
     <!--reply goes here including partial-->

    
    
  </div>
 
</div>

 