



     



     <!-- Main section-->
      <main class="bg-white">
          <div class="container container-sm">
            <div class="card">
              <div class="card-body reader-block">








<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

 <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<%# collection_radio_buttons(:job, :jobtype_id, Jobtype.all, :id, :name) %>







  <div class="form-inputs">
    <%= f.input :title  %>

     <%= f.input :job_url, label: 'External url for application of this job'  %>
    


   <div class="col-md-">

    <br>
    <div class="form-group">
      <label class="lead">Job Description </label>
      <%= f.trix_editor :description, label: false, as: :text, autofocus: true, :input_html => {:style => 'width: 10%', :height =>'300px', :rows => 10, class: 'bg-red'} %>
    </div>
  </div>
  <!-- end col-4 -->




     <div class="col-md-">

    <br>
    <div class="form-group">
      <label class="lead">Main Requirements </label>
      <%= f.trix_editor :main_requirements, label: false, as: :text, autofocus: true, :input_html => {:style => 'width: 10%', :height =>'300px', :rows => 10, class: 'bg-red'} %>
    </div>
  </div>
  <!-- end col-4 -->





 


  
    


 




    <div class="form-group">
    <%= f.label :location_ids, "CLOSE LOCATION" %>
    <%= f.select :location_ids, Location.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>


                                                  <div class="col-md-6">
                          <div class="form-group">
                            <label class="required">* Company</label>
                            <%= f.collection_select :company_id, Company.all, :id, :name, {promt: "Confirm `Your Company", include_blank: "Select Company" },:class => "form-control", input_html: { class: "dropdown-toggle"} %>
                            
                          </div>
                                                </div>
                                                <!-- end col-4 -->


                          <div class="col-md-6">
                          <div class="form-group">
                            <label class="required">* Confirm Company</label>
                            <%= f.collection_select :company_ids, Company.all, :id, :name, {promt: "Confirm `Your Company", include_blank: "Select country" },:class => "form-control", input_html: { class: "dropdown-toggle"}, data_parsley: {required: "true"} %>
                            
                          </div>
                                                </div>
                                                <!-- end col-4 -->


                                                <!-- end col-4 -->
<br>

<div class="form-group">
    <%= f.label :skill_ids, "CLOSE SKILL" %>
    <%= f.select :skill_ids, Skill.all.pluck(:title, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>







                                                  <div class="col-md-4 ">
                          <div class="form-group">
                            <label>Confirm Jobtype</label>
                            <%= f.collection_select :jobtype_id, Jobtype.all, :id, :name, {:include_blank => 'Select Job Type'}, :class => "form-control", input_html: { class: "dropdown-toggle "} %>
                            
                          </div>
                                                </div>
                                                <!-- end col-4 -->

                                               </div>
                                                <!-- end col-4 -->



                                            
                                              



                                               

    <div class="field">
    <%= f.label :select_monthly_salary_range %>
   <%= f.select :min_salary, options_for_select(500..5000), { prompt: "Below 500" } %> and <%= f.select :max_salary, ((500..10000).map {|i| [i,i] } << ["Above 10,000",nil]) %> <%= f.label :or_type_amount %> <%= f.input :max_salary, id: :job_max_salary %> 
  </div>

  </div>

<div class="col-md-4 ">

  <div class="form-group">

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  </div>
  </div>
<% end %>



<br>
<br>
<br>

      </div>
    </div>
  </div>
</main>


