<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>


    <div class="form-group">
    <%= f.label :location_ids, "CLOSE LOCATION" %>
    <%= f.select :location_ids, Location.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>

<div class="form-group">
    <%= f.label :company_ids, "CLOSE COMPANY" %>
    <%= f.select :company_ids, Company.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>

    <div class="field">
    <%= f.label :select_monthly_salary_range %>
   <%= f.select :min_salary, options_for_select(500..5000), { prompt: "Below 500" } %> and <%= f.select :max_salary, ((500..10000).map {|i| [i,i] } << ["Above 10,000",nil]) %> <%= f.label :or_type_amount %> <%= f.input :max_salary, id: :job_max_salary %> 
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
