<div class="" style="background: #F1F2F3">
<%= simple_form_for(@echo) do |f| %>
 <%= f.error_notification %>

 <% if echo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(echo.errors.count, "error") %> prohibited this echo from being saved:</h2>

      <ul>
      <% echo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <!-- Main section-->
      <main class="container">
        <!-- Page content-->
        <section>
          <div class="container-fluid">
            <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                
                
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Headline</p>
                    </div>
                    <div class="col-md-5 col-sm-8">



                      <%= f.input :headline, :label => 'Give this Echo a nice headline', :class => "form-control" %>
                     
                    </div>
                  </div>




       







                    <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Echo Category</p>
                    </div>



                    <div class="col-md-5 col-sm-8">

                       <label>Select a category for this Echo</label>


                       <%= f.collection_select :echocategory_id, Echocategory.all, :id, :name, {:include_blank => 'Select Echo Category'}, :class => "form-control", input_html: { class: "dropdown-toggle "} %>
                      
                    </div>
                  </div>





                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Featured Image 1</p>
                    </div>
                    <div class="col-md-8 col-sm-8 bg-green-dft">


                      <label style="color: #FFFFFF; font-family: Questrial"; >Add a nice image which will show as a banner above your Echo </label>

                      <%= f.file_field :echoimage1 %>


                      
                    </div>
                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->


<!--start main content card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Echo Body 1</div>
               
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Content Area 1</p>
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label> First content before second image (if a second image is available) </label>
                            <%= f.trix_editor :body, placeholder: "Content 1 goes here" %>

                           

                          

                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->


    

<!--end main content card-->




<!--image 2  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Featured Image 2</div>
             
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                 















                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                   
                    </div>
                    <div class="col-md-8 col-sm-8 bg-green-dft">


                      <label style="color: #FFFFFF; font-family: Questrial"; >Add another nice image which will show in the middle content of your Echo </label>

                      <%= f.file_field :echoimage2 %>


                    </div>
                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--image2 ends-->



<!--start second content card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Echo Body 2</div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Content Area 2</p>
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label>Second content after second image (if available) </label>
                            <%= f.trix_editor :content2, placeholder: "More content goes here" %>

                      
                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end content 2 card-->




<!--image 2  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Featured video</div>
             
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                 















                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">YouTube Video URL</p>
                    </div>
                    <div class="col-md-5 col-sm-8 ">




                     

                      <%= f.input :videourl, :label => 'Copy and paste your YouTube video link in below field', placeholder: "example https://www.youtube.com/watch?v=eKFTSSKCzWA" %>



                      
                    </div>
                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--image2 ends-->


<!--start acknowledgments  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Acknowledgments</div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                    
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label>Add acknowledgments (if available) </label>
                            <%= f.trix_editor :acknowledgments, placeholder: "List acknowledgments here. You can number them or in bullet points" %>

                      
                    </div>
                  </div>



              
                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end Acknowledgments-->


<!--start acknowledgments  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">References</div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label>Add references to this Echo (if available) </label>
                            <%= f.trix_editor :references, placeholder: "List your references here. You can number them or in bullet points and add external links" %>

                      
                    </div>
                  </div>



              
                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end Acknowledgments-->




<br>

<div class="form-actions text-center">
    <%= f.button :submit, class: "bg-green-dft" %>
  </div>

<br>
           

                  
                </div>
              </div>
            </div><br><br><br><br>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
  
  <% end %>

</div>


