<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Color Admin | Blog Concept Front End Theme</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  
  <!-- ================== BEGIN BASE CSS STYLE ================== -->

  <!-- ================== END BASE CSS STYLE ================== -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  
  <!-- ================== END BASE JS ================== -->
</head>
<body style=" height: auto;">
    <!-- begin #header -->

    <!-- end #header -->
    
    <!-- begin #page-title -->
    <!--div id="page-title" class="page-title has-bg">
        <div class="bg-cover"><%= image_tag("post4.jpg", :class => " bg-cover img-responsive") %> </div>
        <div class="container">
            <h1>Official Color Admin Blog</h1>
            <p>Blog Concept Front End Page</p>
        </div>
    </div-->
    <!-- end #page-title -->
    
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row row-space-30">
                <!-- begin col-9 -->
                <div class="col-md-9">
                  
<div id="echos">



                    <!-- begin post-list -->
                    <ul class="post-list">

                   <% @echos.each do |echo| %> 


                        <li>



                            <!-- begin post-left-info -->
                            <div class="post-left-info">
                                <div class="post-date">
                                    <span class="day"><%= echo.created_at.strftime("%d") %></span>
                                    <span class="month"><%= echo.created_at.strftime("%b") %> </span>
                                    <span class="month"><%= echo.created_at.strftime("%Y") %> </span>
                                </div>

<div class="post-date hidden-xs" style="border-top: 2px solid #ddd;">


  <button class="like_btn" value="<%= echo.id %>" style="background: #FFFFFF;">
    <i class="fa fa-fw fa-chevron-up fa-2x"></i>
    <!--span id="like"> Like </span--> 
  </button>

  <br>

  <span style="font-size: 16px"> <%= echo.get_upvotes.size %></span>


    <button class="dislike_btn" value="<%= echo.id %>" style="background: #FFFFFF";>
    <i class="fa fa-fw fa-chevron-down fa-2x"></i>
     
    
  </button>




  </div>

<div class="post-likes hidden-md hidden-lg hidden-sm">
                                    <i class="fa fa-fw fa-chevron-up"></i>
                                    <span class="number"><%= echo.get_upvotes.size %></span>
                                </div>

                            
                                 </div>







<% if echo.echoimage1? %>

                            <!-- end post-left-info -->
                            <!-- begin post-content -->
                            <div class="post-content shadow-wrapper-square">
                                <!-- begin post-image -->
                            <div class="post-image">
        <%= link_to (image_tag(echo.echoimage1.url(:thumb), :class => "img-responsive", :alt =>"echo image")), echo_path(echo) %>

                           </div>


        <% elsif echo.echoimage2? %> 
                            <!-- end post-left-info -->
                            <!-- begin post-content -->
                            <div class="post-content shadow-wrapper-square">
                                <!-- begin post-image -->
                            <div class="post-image">

        <%= link_to (image_tag(echo.echoimage2.url(:thumb), :class => "img-responsive", :alt =>"echo image")), echo_path(echo) %> 
                            </div>

        <% elsif echo.videourl? %> 

                                    <!-- begin post-content -->
                            <div class="post-content shadow-wrapper-square">
                                <!-- begin post-video -->
                            <div class="post-video">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <%= embed(echo.videourl) %> 
                                    </div>
                                </div>
            <!-- end post-video -->
            <!-- begin post-info -->



        <% else %>

                             <div class="post-content shadow-wrapper-square">
                                <!-- begin post-image -->
                            
                                <!-- end post-image -->
                                <!-- begin post-info -->

    <% end %> 


            <!-- end post-left-info -->





                              

         <div class="post-left-info upfrica-padding-10">



                      <% if echo.profile.pesnavatar? %>
        <%= link_to (image_tag(echo.profile.pesnavatar.url(:large), :class => "img-circle thumb48 btn-raised btn-circle text-center", :alt =>"user")), profile_path(echo.profile_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "media-object img-circle thumb40 btn-raised btn-circle text-center", :alt =>"user")), profile_path(@cho.profile_id) %>


       <% end %>


        </div>
                                <div class="post-info upfrica-padding-10">
                                    <h4 class="post-title">
                                        <%= link_to (truncate(sanitize(echo.headline.titleize, tags: %w(strong em p u br #ff0000 font-size)),:class =>"blk in-inner m-t-5", length: 120)), echo %>
<span class="text-center">
  <button class="like_btn" value="<%= echo.id %>" style="background: #FFFFFF; color: blue; font-size: 14px";>
    <i class="fa fa-fw fa-chevron-up"></i>
    <span id="like"> Up </span> 
    <span id="like_count"> <%= echo.get_upvotes.size %></span>
  </button>


</span>
                                    </h4>
                                    <div class="post-by">







                                        Echoed By <%= link_to echo.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ echo.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(echo.profile_id) if echo.profile.first_name || echo.profile.last_name %>, <%="#{time_ago_in_words(echo.created_at)} ago"%>  <span class="divider">|</span> <%= link_to Echocategory.friendly.find(echo.echocategory_id).name, echocategory_path(echo.echocategory_id) if echo.echocategory_id %><span class="divider">|</span>
                                        <%= pluralize(echo.impressionist_count(:filter=>:session_hash), "View") %> <span class="divider">|</span> <%= pluralize(echo.comment_threads.size, "Comment")%> 

                                        <% if echo.comment_threads.blank? %>

                                         <a href="/echos/<%= echo.id %>/#comments">Be the first to add comments</a>
                                         <% else %>
                                         <% end %>

                                         <%= "| Tagged:" if echo.tag_ids.present? %> <span class="tags text-center"><%= raw(echo.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
                                         

                                    </div>





                                    


                                    <div class="post-desc profile-nav-txt-bold" >
                                     <%=truncate(sanitize(echo.body, tags: %w(strong em p u br #ff0000 font-size)).capitalize, length: 300) {link_to 'Read More >>', echo if echo.body } %>
                                    </div>


                                </div>
                                <!-- end post-info -->
                                <!-- begin read-btn-container -->

                               
                                <!-- end read-btn-container -->
                            </div>
                            <!-- end post-content -->


                        </li>

                         <!--hr style="border-bottom:1px dashed #ddd;"-->


<% end %>




                    </ul>
                    <!-- end post-list -->





                    
                    <div class="section-container">
                        
                        <!-- begin pagination -->
                        <div class="pagination-container text-center">
                            <%= will_paginate @echos %>
                        </div>
                        <!-- end pagination -->
                    </div>
                

                </div><!--end of div id-->
                <!-- end col-9 -->

            </div>

                





                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <div class="input-group sidebar-search">
                            <input type="text" class="form-control" placeholder="Search Our Stories..." />
                            <span class="input-group-btn">
                                <button class="btn btn-inverse" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <!-- end section-container -->
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title"><span>Echo Categories</span></h4>
                        <ul class="sidebar-list">

                              <% @echocategories.each do |echocategory| %>
 
                            <li><%= link_to echocategory.name+ ' '+ '('+ echocategory.echos.count.to_s + ')', echocategory  %> </li>

                              <% end %>

                              

                        </ul>
                    </div>
                    <!-- end section-container -->
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title"><span>Recent Post</span></h4>
                        <ul class="sidebar-recent-post">
                            <li>
                                <div class="info">
                                    <h4 class="title"><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <div class="date">23 December 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h4 class="title"><a href="#">Vestibulum a cursus arcu.</a></h4>
                                    <div class="date">16 December 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h4 class="title"><a href="#">Nullam vel condimentum lectus. </a></h4>
                                    <div class="date">7 December 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h4 class="title"><a href="#">Proin in dui egestas libero posuere ullamcorper. </a></h4>
                                    <div class="date">20 November 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h4 class="title"><a href="#">Interdum et malesuada fames ac ante.</a></h4>
                                    <div class="date">5 November 2015</div>
                                </div>
                            </li>
                        </ul>

                        <h1>Echocategories</h1>


                    </div>
                    <!-- end section-container -->
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title"><span>Follow Us</span></h4>
                        <ul class="sidebar-social-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #content -->
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Categories</h4>
                        <ul class="categories">
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Outdoor Sports</a></li>
                            <li><a href="#">Indoor Sports</a></li>
                            <li><a href="#">Video Shooting</a></li>
                            <li><a href="#">Drone</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Archives</h4>
                        <ul class="archives">
                            <li><a href="#">June 2015</a> <span class="total">(102)</span></li>
                            <li><a href="#">May 2015</a> <span class="total">(46)</span></li>
                            <li><a href="#">April 2015</a> <span class="total">(84)</span></li>
                            <li><a href="#">March 2015</a> <span class="total">(67)</span></li>
                            <li><a href="#">February 2015</a> <span class="total">(99)</span></li>
                            <li><a href="#">January 2015</a> <span class="total">(113)</span></li>
                            <li><a href="#">December 2014</a> <span class="total">(25)</span></li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Recent Posts</h4>
                        <ul class="recent-post">
                            <li>
                                <h4>
                                    <a href="#">Nam ut urna hendrerit</a>
                                    <span class="time">February 22, 2015</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#">Class aptent taciti sociosqu</a>
                                    <span class="time">July 15, 2015</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#">Donec rhoncus arcu</a>
                                    <span class="time">March 21, 2015</span>
                                </h4>
                            </li>
                        </ul>



                    </div>
                    <!-- end section-container -->
                </div>


                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <div class="section-container">
                        <h4 class="footer-title">About Color Admin</h4>
                        <address>
                            <strong>Twitter, Inc.</strong><br />
                            795 Folsom Ave, Suite 600<br />
                            San Francisco, CA 94107<br />
                            P: (123) 456-7890<br />
                            <br />
                            <strong>Full Name</strong><br />
                            <a href="#">first.last@example.com</a>
                        </address>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        <!-- begin container -->
        <div class="container">
            <span class="copyright">&copy; 2015 SeanTheme All Right Reserved</span>
            <ul class="social-media-list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
        <!-- end container -->
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
    <!--div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <ul class="theme-list clearfix">
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            </ul>pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start
        </div>
    </div-->
    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a38b6716924d799"></script>
 


  <!--Like, dislike -->
  <script>    
    $(document).ready(function() {
        
        $(document).on('click','.like_btn',function(){
          var val = $(this).val();
          var current = $(this);
          $.ajax({
              url: '/echos/'+ val + '/like',
              type: 'put',
              success: function(data) {
                if(data.state == 1){
                  $("#like").html(data.message);
                  $("#like_count").html(data.like_count);
                  $("#dislike_count").html(data.dislike_count);
                }
                else if(data.state == 0){
                  alert(data.message);
                }
              }
          });
        })

        $(document).on('click','.dislike_btn',function(){
          var val = $(this).val();
          var current = $(this);
          $.ajax({
              url: '/echos/'+ val + '/dislike',
              type: 'put',
              success: function(data) {
                if(data.state == 1){
                  $("#dislike").html(data.message);
                  $("#like_count").html(data.like_count);
                  $("#dislike_count").html(data.dislike_count);
                }
                else if(data.state == 0){
                  alert(data.message);
                }
              }
          });
        })
    });
  </script>





</body>
</html>
