<p id="notice"><%= notice %></p>

<h1>Echos</h1>

<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th>Body</th>
      <th>Image1</th>
      <th>Videourl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @echos.each do |echo| %>
      <tr>
        <td><%= echo.headline %></td>
        <td><%= echo.body %></td>
        <td><%= echo.image1 %></td>
        <td><%= echo.videourl %></td>
        <td><%= link_to 'Show', echo %></td>
        <td><%= link_to 'Edit', edit_echo_path(echo) %></td>
        <td><%= link_to 'Destroy', echo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Echo', new_echo_path %>
