<p id="notice"><%= notice %></p>

<h1>Howcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @howcategories.each do |howcategory| %>
      <tr>
        <td><%= howcategory.name %></td>
        <td><%= howcategory.description %></td>
        <td><%= howcategory.slug %></td>
        <td><%= link_to 'Show', howcategory %></td>
        <td><%= link_to 'Edit', edit_howcategory_path(howcategory) %></td>
        <td><%= link_to 'Destroy', howcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Howcategory', new_howcategory_path %>
