

<% if current_profile.present? %>
<div class="post-left-info media-left">

       <% if current_profile.pesnavatar? %>
        <%= image_tag current_profile.pesnavatar.url(:small), :class => "media-object rounded-corner thumb32" %>
        <% else %> 
        <%= image_tag("noimage.jpg", :class => "media-object rounded-corner") %>

       <% end %>


                     

</div>
                                <div class="post-info">
                                    <div class="media-body">
                    <!--h4 class="media-heading">Media heading</h4-->
                    <h5></h5>

                    <%= form_for @new_comment, remote: true do |f| %>  
  <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
  <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
  




  

  <div class="field form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>



                      


                      <p class= "text-right">



    <%= submit_tag "Post comment", class: 'btn btn-sm btn-primary m-r-5' %>
 
                          
                          
                      </p>
                  </div>
                                    </div>


                                    

<% end %>


<% end %>
                      


<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>

