<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Color Admin | Support Forum Front End Theme</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
 
</head>
<body>
    <!-- begin #header -->
    


    <!-- end #header -->
    
    



    <!-- begin search-banner -->
    <!--div class="search-banner has-bg">
      
        <div class="bg-cover">
        <%# image_tag("cover.jpg") %>

        </div>

        <div class="container">
            <h1>1,293 Post for discussion</h1>
            

             <%# form_tag @urban_terms_path, method: :get do %>

            <div class="input-group m-b-20">

             <input type="text" name="q" id="q" placeholder="Search insideGH" data-localize="header.SEARCH" class="form-control input-lg">

             <div class="mda-form-control-line" id="urban_terms-search-results"></div>
                
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-lg"><i class="fa fa-search"></i></button>
                </span>
            </div>

            < end %>


            <h5>Browse by Popular Categories</h5>
            <ul class="popular-tags">
                <li><a href="#"><i class="fa fa-circle text-danger"></i> CSS</a></li>
                <li><a href="#"><i class="fa fa-circle text-primary"></i> Bootstrap</a></li>
                <li><a href="#"><i class="fa fa-circle text-warning"></i> Javascript</a></li>
                <li><a href="#"><i class="fa fa-circle"></i> jQuery</a></li>
                <li><a href="#"><i class="fa fa-circle text-success"></i> Android</a></li>
                <li><a href="#"><i class="fa fa-circle text-muted"></i> iOS</a></li>
                <li><a href="#"><i class="fa fa-circle text-purple"></i> Template</a></li>
            </ul>
        </div>
      
    </div-->
    <!-- end search-banner -->
    
 <!-- begin page-title -->
    <div class="page-title has-bg">
        <!-- begin bg-cover -->
        <div class="bg-cover">
            <%= image_tag("cover3.jpg") %>
        </div>
        <!-- end bg-cover -->
        <!-- begin container -->
        <div class="container">
            <!-- begin breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="index.html">Forum</a></li>
                <li><a href="category_list.html">Twitter Bootstrap</a></li>
                <li class="active">&nbsp;</li>
            </ul>
            <!-- end breadcrumb -->
            <h1>How to create an arrow by using css?</h1>
        </div>
        <!-- end container -->
    </div>
    <!-- end page-title -->



   
      <!-- Main section-->
  
        <section class="bgplain">
          <div class="container bgplain">
            <div class="row fh">
     <!-- Left starts -->           

              <!--div class="col-md-3 fh-md oa text-center">
                <div class="p-lg">
                  <h5>Left Column</h5>
                  <p class="">Nullam pretium fermentum sapien ut convallis.</p>
                </div>
                <div class="p-lg">
                  <p>Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.</p>
                </div>
              </div-->
        <!-- Left Ends -->  

    
            
<!-- Mid starts --> <div class="col-md-9 fh-md oa">






<!-- begin #content -->
    <div id="content" class="conten">
      <!-- begin breadcrumb -->
      <!--ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Extra</a></li>
        <li class="active">Search Results</li>
      </ol-->
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <!--h1 class="page-header">Search Results <small>3 results found</small></h1-->
      <!-- end page-header -->
      
      <!-- begin row -->
      <div class="row">
          <!-- begin col-12 -->
          <div class="col-md-12">




<div class="result-container"><!--container results-->

        <!-- begin #content -->
        <div id="conten" class="conten">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">Home</a></li>
                <li class="active">Gallery</li>
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">Gallery <small>header small text goes here...</small></h1>
            <!-- end page-header -->
            
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                        Show All
                    </a>
                    <a href="#gallery-group-1" class="btn btn-default btn-xs" data-option-value=".gallery-group-1">
                        Gallery Group 1
                    </a>
                    <a href="#gallery-group-2" class="btn btn-default btn-xs" data-option-value=".gallery-group-2">
                        Gallery Group 2
                    </a>
                    <a href="#gallery-group-3" class="btn btn-default btn-xs" data-option-value=".gallery-group-3">
                        Gallery Group 3
                    </a>
                    <a href="#gallery-group-4" class="btn btn-default btn-xs" data-option-value=".gallery-group-4">
                        Gallery Group 4
                    </a>
                </span>
            </div>


  <%# @events.each do |event| %>       
       <%# link_to(image_tag(event.eventpic.url(:thumb)), event.eventpic.url(:large), data: { lightbox: "example-set", title: event.name }) %>  
  <%# end %>
 




  
             
    <% @events.each_slice(3) do |events| %>
  <div class="col-md-12">
    <% events.each do |event| %>
     <div class="col-md-4 col-xs-6 ">




     <div class="image gallery-group-1 card shadow-wrapper ">
                    <div class="image-inner img-responsive">
                    
                        

                         <%# link_to image_tag(("login-bg/bg-3.jpg"), data: { lightbox: "gallery-group-1" }, :class => "img-responsive"), image_tag(("login-bg/bg-3.jpg"), :class => "img-responsive") %>


        <% if event.eventpic? %>
        <%= link_to (image_tag(event.eventpic.url(:thumb), :class => "img-responsive", :alt =>"event image")), event_path(event) %>


        <% else %> 
        <%= link_to (image_tag("login-bg/bg-3.jpg", :class => "img-responsive", :alt =>"event image")), event_path(event) %>


       <% end %> 


        <%# if event.profile.pesnavatar? %>
        <%# link_to (image_tag(event.profile.pesnavatar.url(:small), :class => "media-object img-circle img-responsive text-center", :alt =>"profile")), profile_path(event.profile_id) %>


         

        <%# else %> 
        <%# link_to (image_tag("noimage.jpg", :class => "media-object img-circle img-responsive text-center", :alt =>"profile")), profile_path(event.profile_id) %>


       <%#ß end %> 



                             

                            
                        
                     
                        <p class="image-caption text-center bldtitle">








                        <% if event.name.present? %>
                            

                            <%=  link_to (truncate(sanitize(event.name, tags: %w(strong em p u br #ff0000 font-size)), length: 610)), event %>

                            <% else %>

                            <% end %>



                            <% if event.locations.any? %>

<p class="in-inner"><i class="fa fa-fw fa-map-marker fa-2x" style="color:#337ab7; font-size: 20px;"></i><%= render event.locations %></p>

<% end %>
                        </p>
                    </div>
                    <div class="image-info shadow-inner">
                        <h5 class="title">Fusce aliquet ac quam at tincidunt</h5>
                        <div class="pull-right">
                            <small>by</small> 

                            <%= link_to event.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ event.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(event.profile_id) if event.profile.first_name || event.profile.last_name %>


                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>

                        <%# if event.description.present? %>

                        <div class="desc">
                           
                            

                            <%#truncate(sanitize(event.description, tags: %w(strong em p u br #ff0000 font-size)), length: 160) {link_to 'continue', event } %>

                            <%# else %>
                            <%# end %>




                            <%= link_to "Edit", edit_event_path(event), class: "" %>
                        </div>
                    </div>
                </div>            

 




     </div>
    <% end %>
  </div>
<% end %>   



        </div><!-- end #content -->
                 
</div><!--container results-->
       




          </div>
          <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end #content -->








<!-- Mid Ends --> </div>      

               

     


              <!-- Right starts -->
              

              <div class="col-md-3 fh-md oa text-center">
                <div class="p-lg">
                  <h5>Right Column</h5>
                  <p class="text-center">Nullam pretium fermentum sapien ut convallis.</p>
                </div>
                <div class="p-lg">
                  <p>Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.</p>

              </div>
              </div>


            

            </div>
          </div>
        </section>











   <!-- Right Ends -->
    
















    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4>About Color Admin</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices ipsum in elementum porttitor. 
                            Cras porttitor fermentum nisl non elementum. Nulla in placerat libero. Nulla pharetra purus eget diam dictum 
                            ullamcorper nec et eros. Suspendisse consectetur nulla ut volutpat aliquam.
                        </p>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4>Latest Post</h4>
                        <ul class="latest-post">
                            <li>
                                <h4 class="title"><a href="#">Consectetur adipiscing elit ultrices</a></h4>
                                <p class="time">yesterday 10:42am</p>
                            </li>
                            <li>
                                <h4 class="title"><a href="#">Fusce ultrices ipsum porttitor</a></h4>
                                <p class="time">10/04/2015</p>
                            </li>
                            <li>
                                <h4 class="title"><a href="#">Cras porttitor fermentum adipiscing</a></h4>
                                <p class="time">02/04/2015</p>
                            </li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4>New Users</h4>
                        <!--ul class="new-user">
                            <li><a href="#"><img src="assets/img/user-1.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-2.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-3.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-4.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-5.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-6.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-7.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-8.jpg" alt="" /></a></li>
                            <li><a href="#"><img src="assets/img/user-9.jpg" alt="" /></a></li>
                        </ul-->
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        <div class="container">
            &copy; 2014 - 2015 SeanTheme All Right Reserved
            <a href="#">Contact Us</a> 
            <a href="#">Knowledge Base</a>
        </div>
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
    <div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <ul class="theme-list clearfix">
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <!-- end theme-panel -->
  
  <!-- ================== BEGIN BASE JS ================== -->
 
  <!-- ================== END BASE JS ================== -->
  
  <script>    
      $(document).ready(function() {
          App.init();
      });
  </script>
</body>
</html>

