












                   

     











    
        <!-- BEGIN #promotions -->
        <div id="promotions" class="section-container bg-white">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="#" class="pull-right">SHOW ALL</a>
                    Exclusive promotions
                    <small>from 25 September 2016 - 1 January 2017</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN row -->
                <div class="row row-space-10">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion promotion-lg bg-black-darker">
                            <div class="promotion-image text-right promotion-image-overflow-bottom">


                                <%= link_to (image_tag("store/iphone-se.png", :class => "", :alt =>"listing image")), listing_path(@listings) %>


                            </div>
                            <div class="promotion-caption promotion-caption-inverse">
                                <h4 class="promotion-title">iPhone SE</h4>
                                <div class="promotion-price"><small>from</small> $299.00</div>
                                <p class="promotion-desc">A big step for small.<br />A beloved design. Now with more to love.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-blue">
                            <div class="promotion-image promotion-image-overflow-bottom promotion-image-overflow-top">


                                <%= link_to (image_tag("store/apple-watch-sm.png", :class => "", :alt =>"listing image")), listing_path(@listings) %>


                            </div>
                            <div class="promotion-caption promotion-caption-inverse text-right">
                                <h4 class="promotion-title">Apple Watch</h4>
                                <div class="promotion-price"><small>from</small> $299.00</div>
                                <p class="promotion-desc">You. At a glance.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-silver">

                            <div class="promotion-image text-center promotion-image-overflow-bottom">


                                 <%= link_to (image_tag("store/mac-mini.png", :class => "", :alt =>"listing image")), listing_path(@listings) %>


                            </div>
                            <div class="promotion-caption text-center">
                                <h4 class="promotion-title">Mac Mini</h4>
                                <div class="promotion-price"><small>from</small> $199.00</div>
                                <p class="promotion-desc">It’s mini in a massive way.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-silver">
                            <div class="promotion-image promotion-image-overflow-right promotion-image-overflow-bottom text-right">
                                

                               <%= link_to (image_tag("store/mac-accessories.png", :class => "", :alt =>"listing image")), listing_path(@listings) %>




                            </div>
                            <div class="promotion-caption text-center">
                                <h4 class="promotion-title">Apple Accessories</h4>
                                <div class="promotion-price"><small>from</small> $99.00</div>
                                <p class="promotion-desc">Redesigned. Rechargeable. Remarkable.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-black">
                            <div class="promotion-image text-right">


                              <%= link_to (image_tag("store/mac-pro.png", :class => "", :alt =>"listing image")), listing_path(@listings) %>


                            </div>
                            <div class="promotion-caption promotion-caption-inverse">
                                <h4 class="promotion-title">Mac Pro</h4>
                                <div class="promotion-price"><small>from</small> $1,299.00</div>
                                <p class="promotion-desc">Built for creativity on an epic scale.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                    </div>
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #promotions -->








        <!-- =========================
       EVENT
        ============================== -->

    
        <!-- BEGIN #trending-items. Shop and get your favourite items at amazing prices! -->
        <div id="trending-items" class="section-container bg-silver">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="<%= events_path %>" class="pull-right m-l-5"><i class="fa fa-angle-right f-s-18"></i></a>
                    <a href="<%= events_path %>" class="pull-right"><i class="fa fa-angle-left f-s-18"></i></a>
                    Trending Events
                    <span class="profile-nav-txt-spec" style="color: #010101; font-size: 15px !important;">Browse upcoming Ghana events by location</span>
                </h4>
                <!-- END section-title -->
            




                <!-- BEGIN row -->
                
                <div class="row row-space-10">

                     
                    <!-- BEGIN col-2 -->

                   
                    <% @events.sort_by{|t| - t.created_at.to_i}.first(6).each do |event| %>
                    <div class="col-md-2 col-sm-4">



                        <!-- BEGIN item -->
                        <div class="item item-thumbnail card " style="min-height: 10px !important; min-width: 100% !important;">

                       





                            <a href="<%= event_path(event) %>" class="item-image result-image" style="z-index: 1 !important">


                                <% if event.eventpic? %>

                                



                                <img src="<%= event.eventpic.url(:thumb) %>" alt=""  />

                                <% else %>

                                <img src="http://via.placeholder.com/405x285" alt="" />

                                <% end %>


                                
                            </a>
                            <div class="discount card-item pull20" style="min-height: 10px !important;">

                        <!-- START dropdown--><% if event.profile == current_profile %>
                        <span class="pull-right dropdown" style="margin-bottom: -60px; font-size: 20px !important";>
                          <h1 data-toggle="dropdown" class="btn bg-white btn-link btn-flat-icon"><em class="ion-android-more-vertical"></em></h1>
                          <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="#">Hide post</a></li>
                            <li><%= link_to "Edit", edit_event_path(event), class: "" %></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Report</a></li>
                          </ul>
                        </span>

                        <% else %>
                         <% end %>
                        <!-- END dropdown-->

                                <% if event.profile.pesnavatar? %>
        <%= link_to (image_tag(event.profile.pesnavatar.url(:small), :class => "img-circle img-responsive thumb35 ", :alt =>"profile")), profile_path(event.profile_id) %>


        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "img-circle img-responsive thumb35", :alt =>"profile")), profile_path(event.profile_id) %>


      <% end %>


       </div>
                            <div class="item-info ">
                                <h4 class="pnk m-t-0">
                                    <a href="<%= event_path(event) %>"><% if event.name.present? %>
                            

                            <%= truncate(sanitize(event.name.titleize, tags: %w(strong em p u br #ff0000 font-size)),:class =>"pnk in-inner m-t-0", length: 18) %>

                            <% else %>

                            <% end %>
                                </a>
                                </h4>
                                <p class="item-desc"><i class="fa fa-fw fa-clock-o fa-2x" style="color:#337ab7; font-size: 20px;"></i><%= event.eventdate.strftime("%a, %e %b %Y %H:%M") %></p>

                                
                                <div class="item-desc"><i class="fa fa-fw fa-map-marker fa-2x" style="color:#337ab7; font-size: 20px;"></i><%= render event.locations if event.locations.present? %> <%# event.venue if event.venue.present? %></div>



                                <!--div class="item-discount-price">$739.00</div-->
                            </div>
                        </div>
                        <!-- END item -->
                       
                    </div>
                    <!-- END col-2 -->

                    <% end %>






                    



                    <!-- END col-2 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #trending-items -->


        <!-- =========================
       MUSIC
        ============================== -->

        

                
        <!-- BEGIN #trending-items. Shop and get your favourite items at amazing prices! -->
        <div id="trending-items" class="section-container bg-silver">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="<%= urbanterms_path %>" class="pull-right m-l-5"><i class="fa fa-angle-right f-s-18"></i></a>
                    <a href="<%= events_path %>" class="pull-right"><i class="fa fa-angle-left f-s-18"></i></a>
                    Trending Ghana Urban Terms
                    <span class="profile-nav-txt-spec" style="color: #010101; font-size: 15px !important;">Browse or share your favourite terms </span>
                </h4>
                <!-- END section-title -->




                <!-- BEGIN row -->
                
                <div class="row row-space-10">

                     
                    <!-- BEGIN col-2 -->

                   
                    <% @urbanterms.sort_by{|t| - t.created_at.to_i}.first(4).each do |urbanterm| %>
                    <div class="col-md-6 col-sm-4">

                        <!--CONTENT STARTS-->

                        <!--starts--><ul class="result-list">
  <%# @urbanterms.reverse.each do |urbanterm| %>                           


                            <li>
                                 

                                 <div class="result-image bg-red-500"><!--image starts-->

                                  


                                     <%# if song.songcover? %>
                                      <%# link_to (image_tag(song.songcover_url(:thumb), :class => "img-responsive", :alt =>"song image")), song_path(song) %>


                                      <%# else %> 
                                      <%# link_to (image_tag("login-bg/bg-3.jpg", :class => "img-responsive img-h", :alt =>"event image")), event_path(event) %>

        

                                      <%= link_to (image_tag("ghanaurbanterms.jpg", :class => "img-responsive", :alt =>"Term image")), urbanterm_path(urbanterm) %>


                                   


                    <div class="card-offset playButton"><!--song button-->
                        <div class="card-offset-item text-center biglettersize">


                          <%= urbanterm.title.split.map(&:first).join.upcase %>




                          
                        </div>



                      </div><!--song button ends-->

                      

                      <%# mp3_player song.sound.url %>


                                </div><!--image ends-->





                                <div class="result-info">

                                    <h4 class=" uw" style="font: 700 32px;" ><%= link_to urbanterm.title.downcase, urbanterm %> 


                        <!--div class="speaker"></div-->

                        <audio id="player">
                        <source src="<%= urbanterm.termaudio_url %>" type="audio/mp3" />
                        <source src="<%= urbanterm.termaudio_url %>" type="audio/ogg" />
                        <source src="<%= urbanterm.termaudio_url %>" type="audio/m4a" />
                        </audio>


                                    </h4>

                                   


                                    <p class="location">BY 


                                    <% if urbanterm.profile.pesnavatar? %>
        <%= link_to (image_tag(urbanterm.profile.pesnavatar.url(:small), :class => "img-circle thumb32", :alt =>"profile")), profile_path(urbanterm.profile_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "img-circle thumb32", :alt =>"profile")), profile_path(urbanterm.profile_id) %>


       <% end %>



                                    <%= link_to urbanterm.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ urbanterm.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(urbanterm.profile_id) if urbanterm.profile.first_name || urbanterm.profile.last_name %>  <small> <% if urbanterm.created_at > Time.now.beginning_of_day %>
    <%="#{time_ago_in_words(urbanterm.created_at)} ago"%> 
<% else %>
    <%= urbanterm.created_at.strftime("%b %d, %Y %I:%M %p") %> 
<% end %></small></p>

                                    
                                   

                                    <% if urbanterm.meaning1.present? %>

                                     <span class="ustandard">
        



        <%# truncate(sanitize(how.body, tags: %w(strong em p u br div ul ol li #ff0000 font-size)), length: 160) %>
<%# link_to 'read more', how %> 


<%#sanitize how.body.truncate(160) {link_to 'read more', how } %>

<%=truncate(sanitize(urbanterm.meaning1, tags: %w(strong em p u br #ff0000 font-size)).capitalize, length: 60) {link_to 'continue', urbanterm } %>



      <% else %>

      <% end %> 

      <% if urbanterm.meaning1.length<70 %>

    &nbsp&nbsp &nbsp&nbsp    &nbsp&nbsp &nbsp

      <% else %>

      <% end %> 

      <br>

      <!--example1-->

      <% if urbanterm.example1.present? %>

      <small class="text-muted">

   


   "<%=truncate(sanitize(urbanterm.example1, tags: %w(strong em p u br #ff0000 font-size)).downcase, length: 60) {link_to 'read more', urbanterm } %>"


     </small>

      <% else %> 

      <% end %>

      <br>

     
<% if urbanterm.tag_ids.present? %> <small style="font-style: italic;">Tagged:</small><% else %> <% end %>

 <small class=" text-center"><%= raw urbanterm.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') if urbanterm.tag_ids.present? %></small>   

                                    </p>

                                    <div class="">


                                      



<span class="text-center mt-sm">
                      <%= link_to like_urbanterm_path(urbanterm), method: :put do %>

  <i class="fa fa-fw fa-thumbs-up fa-lg" style="color: #696A6A;"></i><%= urbanterm.get_upvotes.size %>

  
<% end %>

<%= link_to unlike_urbanterm_path(urbanterm), method: :put do %>
 <i class="fa fa-fw fa-thumbs-down fa-lg" style="color: #696A6A;"></i>
  <%= urbanterm.get_downvotes.size %>
<% end %>

</span>



                                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Tasks"><i class="fa fa-fw fa-tasks"></i></a>
                                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Configuration"><i class="fa fa-fw fa-cog"></i></a>
                                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Performance"><i class="fa fa-fw fa-tachometer"></i></a>
                                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Users"><i class="fa fa-fw fa-user"></i></a>
                                    </div>
                                </div>


                    

                    


                                   
    <!--h5 class="text-center"> <a href="#">
                       <i class="fa fa-eye fa-2x" style="color:#337ab7; font-size: 22px;"></i></a>
                       <br><strong style="font-size: 22px;"><%# urbanterm.impressionist_count(:filter=>:session_hash) %></strong></h5>



                                   

                                    <span class="wht"><%#  "Urbanterm".pluralize(@urbanterm.impressionist_count) %>
                                   <%# link_to "View Details", urbanterm,  :class=> "blu btn btn-primary btn-block" %></span>







                                </div-->

                            





                            </li>










<%# end %>




  <!--ends--></ul>

                        <!--CONTENT ENDS-->


                    </div>


                    <% end %>

                    <br>

                </div>
            </div>
        </div>










    
        <!-- BEGIN #mobile-list -->



        <div id="mobile-list" class="section-container bg-silver p-t-0">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="#" class="pull-right">SHOW ALL</a>
                    Mobile Phones
                    <small>Shop and get your favourite phone at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN category-container -->
                <div class="category-container">
                    <!-- BEGIN category-sidebar -->
                    <div class="category-sidebar">
                        <ul class="category-list">
                            <li class="list-header">Top Categories</li>
                            <li><a href="#">Microsoft</a></li>
                            <li><a href="#">Samsung</a></li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Micromax</a></li>
                            <li><a href="#">Karbonn</a></li>
                            <li><a href="#">Intex</a></li>
                            <li><a href="#">Sony</a></li>
                            <li><a href="#">HTC</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Nokia</a></li>
                            <li><a href="#">Blackberry</a></li>
                            <li><a href="#">All Brands</a></li>
                        </ul>
                    </div>










                    <!-- END category-sidebar -->


                    <!-- BEGIN category-detail -->
                    <div class="category-detail">
                        <!-- BEGIN category-item -->
                        <a href="#" class="category-item full">
                            <div class="item">
                                <div class="item-cover">
                                    <%= image_tag("store/samsung-s7-edge.jpg")  %>

                                   
                                </div>
                                <div class="item-info bottom">
                                    <h4 class="item-title">Samsung Galaxy s7 Edge + Geat 360 + Gear VR</h4>
                                    <p class="item-desc">Redefine what a phone can do</p>
                                    <div class="item-price">$799.00</div>
                                </div>
                            </div>
                        </a>


                        <!-- END category-item -->






                        <!-- BEGIN category-item -->
                        <div class="category-item list">
                            <!-- BEGIN item-row -->
                          
                               

       




                               <% @listings.limit(6).each_slice(3) do |listings| %>

                                <div class="item-row ">
                                
                                  <% listings.each do |listing| %>
                                   <div class="item item-thumbnail ">





          <% if listing.listingimages? %>

        <%= link_to (image_tag(listing.listingimages[0].url(:thumb), :class => "item-image imagecenter", :alt =>"listing image")), listing %>
        <% else %> 
        <%# link_to (image_tag("login-bg/bg-3.jpg", :class => "img-responsive img-h", :alt =>"event image")), event_path(event) %>

        <%= link_to (image_tag("http://via.placeholder.com/190x300", :class => "item-image imagecenter", :alt =>"listing image")), listing_path(listing)  %>


       <% end %> 
 


                                        <div class="discount text-center">15% OFF</div>




                                    
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product_detail.html">Assus ZenFone 2<br />‏(ZE550ML)</a>
                                        </h4>
                                        <p class="item-desc">See What Others Can’t See</p>
                                        <div class="item-price"><%= number_to_currency(listing.price) %></div>
                                        <div class="item-discount-price"><%= number_to_currency(listing.price+((0.15)*listing.price) )%></div>
                                    </div>

                                   </div>
                                   <% end %>
                                    </div>

                                   <% end %>




        








                        </div>
                        <!-- END category-item -->





                    </div>
                    <!-- END category-detail -->
                </div>
                <!-- END category-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #mobile-list -->








    
        <!-- BEGIN #tablet-list -->
        <div id="tablet-list" class="section-container bg-silver p-t-0">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="#" class="pull-right">SHOW ALL</a>
                    Tablet
                    <small>Shop and get your favourite tablet at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN category-container -->
                <div class="category-container">
                    <!-- BEGIN category-sidebar -->
                    <div class="category-sidebar">
                        <ul class="category-list">
                            <li class="list-header">Top Categories</li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">HP</a></li>
                            <li><a href="#">Huawei</a></li>
                            <li><a href="#">Samsung</a></li>
                            <li><a href="#">Sony</a></li>
                            <li><a href="#">All Brands</a></li>
                        </ul>
                    </div>
                    <!-- END category-sidebar -->
                    <!-- BEGIN category-detail -->
                    <div class="category-detail">
                        <!-- BEGIN category-item -->
                        <a href="#" class="category-item full">
                            <div class="item">
                                <div class="item-cover">
                                    <img src="assets/img/huawei-mediapad.jpg" alt="" />
                                </div>
                                <div class="item-info bottom">
                                    <h4 class="item-title">Huawei MediaPad T1 7.0</h4>
                                    <p class="item-desc">Vibrant colors. Beautifully displayed</p>
                                    <div class="item-price">$299.00</div>
                                </div>
                            </div>
                        </a>
                        <!-- END category-item -->
                        <!-- BEGIN category-item -->
                        <div class="category-item list">
                            <!-- BEGIN item-row -->
                            <div class="item-row">
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/ipad-pro.png" alt="" />
                                        <div class="discount">15% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product_detail.html">9.7-inch iPad Pro<br />32GB</a>
                                        </h4>
                                        <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
                                        <div class="item-price">$649.00</div>
                                        <div class="item-discount-price">$739.00</div>
                                    </div>
                                </div>
                                <!-- END item -->
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/galaxy-tab2.png" alt="" />
                                        <div class="discount">32% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product.html">Samsung Galaxy Tab S2<br />Black</a>
                                        </h4>
                                        <p class="item-desc">A Brilliant Screen That Adjusts to You</p>
                                        <div class="item-price">$399.99</div>
                                        <div class="item-discount-price">$499.00</div>
                                    </div>
                                </div>
                                <!-- END item -->
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/galaxy-taba.png" alt="" />
                                        <div class="discount">20% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product.html">Samsung Galaxy Tab A<br />9.7" 16Gb(Wi-Fi)</a>
                                        </h4>
                                        <p class="item-desc">Keep All Your Samsung Devices In Sync</p>
                                        <div class="item-price">$349.99</div>
                                        <div class="item-discount-price">$399.99</div>
                                    </div>
                                </div>
                                <!-- END item -->
                            </div>
                            <!-- END item-row -->
                            <!-- BEGIN item-row -->
                            <div class="item-row">
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/hp-spectrex2.png" alt="" />
                                        <div class="discount">15% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product_detail.html">HP Spectre x2<br />‏12-a011nr</a>
                                        </h4>
                                        <p class="item-desc">Our thinnest detachable separates from all others.</p>
                                        <div class="item-price">$799.99</div>
                                        <div class="item-discount-price">$850.00</div>
                                    </div>
                                </div>
                                <!-- END item -->
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/xperia-z2.png" alt="" />
                                        <div class="discount">32% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product.html">Sony Xperia Z2 Tablet<br />Black Color</a>
                                        </h4>
                                        <p class="item-desc">For unexpectedly beautiful moments</p>
                                        <div class="item-price">$199.00</div>
                                        <div class="item-discount-price">$259.00</div>
                                    </div>
                                </div>
                                <!-- END item -->
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="product_detail.html" class="item-image">
                                        <img src="assets/img/ipad-air.png" alt="" />
                                        <div class="discount">20% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="product.html">iPad Air 2<br />32/64Gb</a>
                                        </h4>
                                        <p class="item-desc">Light. Heavyweight.</p>
                                        <div class="item-price">$399.00</div>
                                        <div class="item-discount-price">$459.00</div>
                                    </div>
                                </div>
                                <!-- END item -->
                            </div>
                            <!-- END item-row -->
                        </div>
                        <!-- END category-item -->
                    </div>
                    <!-- END category-detail -->
                </div>
                <!-- END category-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #tablet-list -->
    
        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Free Delivery Over $100</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>1 Year Warranty For Phones</h4>
                                <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>6 Month Warranty For Accessories</h4>
                                <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->
    
        <!-- BEGIN #subscribe -->
        <div id="subscribe" class="section-container bg-silver p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN subscription -->
                        <div class="subscription">
                            <div class="subscription-intro">
                                <h4> LET'S STAY IN TOUCH</h4>
                                <p>Get updates on sales specials and more</p>
                            </div>
                            <div class="subscription-form">
                                <form name="subscription_form" action="index.html" method="POST">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="email" placeholder="Enter Email Address" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse"><i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END subscription -->
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN social -->
                        <div class="social">
                            <div class="social-intro">
                                <h4>FOLLOW US</h4>
                                <p>We want to hear from you!</p>
                            </div>
                            <div class="social-list">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <!-- END social -->
                    </div>
                    <!-- END col-6 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #subscribe -->
    
        <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tristique dolor, ac efficitur velit. Nulla lobortis tempus convallis. Nulla aliquam lectus eu porta pulvinar. Mauris semper justo erat. 
                        </p>
                        <p>
                            Vestibulum porttitor lorem et vestibulum pharetra. Phasellus sit amet mi congue, hendrerit mi ut, dignissim eros.
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Shopping Help</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Careers</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Payment Method</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sales & Refund</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sitemap</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">LATEST PRODUCT</h4>
                        <ul class="list-unstyled list-product">
                            <li>
                                <div class="image">
                                    <img src="assets/img/iphone-6s.jpg" alt="" />
                                </div>
                                <div class="info">
                                    <h4 class="info-title">Iphone 6s</h4>
                                    <div class="price">$1200.00</div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="assets/img/galaxy-s6.jpg" alt="" />
                                </div>
                                <div class="info">
                                    <h4 class="info-title">Samsung Galaxy s7</h4>
                                    <div class="price">$850.00</div>
                                </div>
                            </li>
                        
                            <li>
                                <div class="image">
                                    <img src="assets/img/ipad-pro.jpg" alt="" />
                                </div>
                                <div class="info">
                                    <h4 class="info-title">Ipad Pro</h4>
                                    <div class="price">$800.00</div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="assets/img/galaxy-note5.jpg" alt="" />
                                </div>
                                <div class="info">
                                    <h4 class="info-title">Samsung Galaxy Note 5</h4>
                                    <div class="price">$1200.00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        <address>
                            <strong>Twitter, Inc.</strong><br />
                            1355 Market Street, Suite 900<br />
                            San Francisco, CA 94103<br /><br />
                            <abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
                            <abbr title="Fax">Fax:</abbr> (123) 456-7891<br />
                            <abbr title="Email">Email:</abbr> <a href="mailto:sales@myshop.com">sales@myshop.com</a><br />
                            <abbr title="Skype">Skype:</abbr> <a href="skype:myshop">myshop</a>
                        </address>
                    </div>
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->
    
        <!-- BEGIN #footer-copyright -->
        <div id="footer-copyright" class="footer-copyright">
            <!-- BEGIN container -->
            <div class="container">
                <div class="payment-method">
                    <img src="assets/img/payment_method.png" alt="" />
                </div>
                <div class="copyright">
                    Copyright &copy; 2016 SeanTheme. All rights reserved.
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer-copyright -->
    </div>
    <!-- END #page-container -->
    
    <!-- begin theme-panel -->
    <div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <ul class="theme-list clearfix">
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <!-- end theme-panel -->
  
  <!-- ================== BEGIN BASE JS ================== -->

  <!-- ================== END BASE JS ================== -->
  
  <script>
      $(document).ready(function() {
          App.init();
      });
  </script>
</body>
</html>
