<%= simple_form_for(@song) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :lyricsbody1 %>
    <%= f.input :lyricschorus1 %>
    <%= f.input :lyricsbody2 %>
    <%= f.input :lyricschorus2 %>
    <%= f.input :lyricsbody3 %>
    <%= f.input :lyricschorus3 %>
    <%= f.input :youtubeurl %>


        <p>
    <label>Song (MP3)</label>
    
    <%= f.file_field :sound %>
    <%= f.hidden_field :sound_cache %>
  </p>
  

    <p>
    <label>Song Image</label>
    <%= image_tag(@song.songcover_url(:thumb)) if @song.songcover? %>
    <%= f.file_field :songcover %>
    <%= f.hidden_field :songcover_cache %>
  </p>

  <p>
    <label>
      <%= f.check_box :remove_songcover %>
      Remove songcover
    </label>
  </p>


    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
