<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Songcover</th>
      <th>Audio</th>
      <th>Lyricsbody1</th>
      <th>Lyricschorus1</th>
      <th>Lyricsbody2</th>
      <th>Lyricschorus2</th>
      <th>Lyricsbody3</th>
      <th>Lyricschorus3</th>
      <th>Youtubeurl</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.description %></td>
        <td><%= song.songcover %></td>
        <td><%= song.audio %></td>
        <td><%= song.lyricsbody1 %></td>
        <td><%= song.lyricschorus1 %></td>
        <td><%= song.lyricsbody2 %></td>
        <td><%= song.lyricschorus2 %></td>
        <td><%= song.lyricsbody3 %></td>
        <td><%= song.lyricschorus3 %></td>
        <td><%= song.youtubeurl %></td>
        <td><%= song.slug %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
