<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
        <li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
        <li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>






<div class="main bg-upfrica-grey">
<!-- Content Here -->
<% @songs.each_slice(8) do |slice| %>
  <div class="container-fluid gid" style="margin-bottom: 70px">
  <br>

    <% slice.each do |song| %>
    <div class="col-md-2 col-lg-2 panel panel-default " style="padding: 0px!important; margin: 10px">


     

   
 <ul id="playlist" class="playlist-hov">
       
<li song="<%= song.sound.url if song.sound %>" 

<% if song.songcover? %>
  cover="<%= song.songcover.url(:thumb) %>"
 <% else %>
cover="<%= image_url('nosongcover-thumb.jpg') %>"
  <% end %>

artist="<%= Artist.find(song.artist_id).name if song.artist %>" title="<%= truncate(song.title.titleize, length: 80) %>">

<!--records effects starts-->
     <div id="music" class="music-section text-center">

     <div class="albums-block">
          
                            <div class="cover-holder">
                                
                                <a class="cover-figure">
                                   
                                    <div class="record-holder "><img class="img-responsive" src="<%= image_url('record.png') %>" alt=""></div>
                           <% if song.songcover? %>

                                    <%=  image_tag(song.songcover.url(:thumb), :class => "cover-image img-responsive", :alt =>"Song image") %>
                              <% else %> 

                              <%= image_tag("nosongcover-thumb.jpg", :class => "cover-image img-responsive", :alt =>"Song image") %>

                              <% end %>     

                                </a><!--//cover-figure-->

                              
                               
                            </div><!--//cover-holder-->
                            
                </div>
              </div>

<!--records effects ends-->
</li>

</ul>

    <div class="" style="padding: 0px 10px 0px 10px">
       <span class="blk"> <% if song.artist %><%= link_to (truncate(sanitize(Artist.find(song.artist_id).name.titleize), :class =>'pnk', length: 10)), artist_path(song.artist_id) %> - <% else %> <% end %> </span>


        <span class="pnk"><%= link_to (truncate(sanitize(song.title.titleize), :class =>"pnk ", length: 15)), song if song.title %></span>
    </div >
      

      <span class="profile">



    <!--div class="post-left-info">
                      <%# if song.profile.pesnavatar? %>
        <%# link_to (image_tag(song.profile.pesnavatar.url(:large), :class => "m-l-10 img-circle thumb32 btn-raised btn-circle text-center", :alt =>"profile image")), profile_path(song.profile_id) %>


        <%# else %> 
        <%# link_to (image_tag("noimage.jpg", :class => "m-l-10 img-circle thumb48 btn-raised btn-circle text-center", :alt =>"profile image")), profile_path(@cho.profile_id) %>


               <%# end %>


     </div-->






            <div class="post-by upfrica-pad-10">

             <i class="ion-ios-cloud-upload-outline fa-2x text-default"></i> by <%= link_to song.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ song.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(song.profile_id) if song.profile.first_name || song.profile.last_name %>, <%="#{time_ago_in_words(song.created_at)} ago"%>  <span class="divider">|</span> <%= link_to Genre.friendly.find(song.genre_id).name, genre_path(song.genre_id) %><span class="divider">|</span>
                                        <%= pluralize(song.impressionist_count(:filter=>:session_hash), "View") %> <span class="divider">|</span> <%# pluralize(how.comment_threads.size, "Comment")%> <%# how.tag_counts.map(&:name) %>
             </div>
      </span>

</div>

<% end %> 

   <!--box panel ends-->
  </div>

  <% end %> <!--songs.each ends-->

<!--div class="section-container">
                        
                        <!-begin pagination 
                        <div class="pagination-container text-center">
                            <%# will_paginate @songs %>
                        </div>
                         end pagination 
                    </div-->




     <div class="audio-player">


<footer class="footer" style="margin-top: -70px !important">

  <!--div id="audio-image">
    <img class="cover" />
  </div-->






  <div id="audio-player" style="margin-top: -60px !important">


    
    <div id="audio-info">
      <span class="artist"></span> - <span class="title"> </span>  


      <!--span class="cover" style="color: #fff;">gggg</span-->


        <div class="pull-right">
          
           <img class="cover" />          
      

           </div>

      <br>

      <span id="progress" style=""></span>



    </div>
     <!--input id="volume" type="range" min="0" max="10" value="5" /-->
     
 
     

     <div id="buttons" class="  ">
    
      <button id="prev" style="background: #1E2329"><i class="fa fa-step-backward" style="font-size: 25px; color:#4EF604"></i></button> 

      <button id="stop" style="background: #1E2329"><i class="fa fa-stop" style="font-size: 25px; color:#4EF604"></i></button>
      <button id="next" style="background: #1E2329"><i class="fa fa-step-forward" style="font-size: 25px; color:#4EF604;"></i></button>  
      <button id="play" style="background: #1E2329"><i class="fa fa-play" style="font-size: 25px; color:#4EF604"></i></button>
      <button id="pause" style="background: #1E2329"><i class="fa fa-pause" style="font-size: 25px; color:#4EF604"></i></button>
 
       </div>


  <!--div id="buttons" class="play-container">
  <div class="play-col" style="background:orange">
111
  </div>

  <div class="play-col" style="background:yellow">
22222
  </div>

  <div class="play-col" style="background:orange">
33333
  </div>
</div-->






    


     <div class="clearfix"></div>
     
      <span id="duration"></span>

     

      
     


      
  
    </footer>

    </div><!--audio player-->
</div><!-- Content ends -->






<script>
var audio;

//Hide Pause Initially
$('#pause').hide();
  
//Initializer - Play First Song
initAudio($('#playlist li:first-child'));
  
function initAudio(element){
    var song = element.attr('song');
    var title = element.attr('title');
    var cover = element.attr('cover');
    var artist = element.attr('artist');

  //Create a New Audio Object
  audio = new Audio(song);
  
  if(!audio.currentTime){
    $('#duration').html('0.00');
  }

  $('#audio-player .title').text(title);
    $('#audio-player .artist').text(artist);
  
  //Insert Cover Image
  $('img.cover').attr('src','' + cover);
  
  $('#playlist li').removeClass('active');
    element.addClass('active');
}


//Play Button
$('#play').click(function(){
  audio.play();
  $('#play').hide();
  $('#pause').show();
  $('#duration').fadeIn(400);
  showDuration();
});

//Pause Button
$('#pause').click(function(){
  audio.pause();
  $('#pause').hide();
  $('#play').show();
});
  
//Stop Button
$('#stop').click(function(){
  audio.pause();    
  audio.currentTime = 0;
  $('#pause').hide();
  $('#play').show();
  $('#duration').fadeOut(400);
});

//Next Button
$('#next').click(function(){
    audio.pause();
    var next = $('#playlist li.active').next();
    if (next.length == 0) {
        next = $('#playlist li:first-child');
    }
    initAudio(next);
  audio.play();
  showDuration();
});

//Prev Button
$('#prev').click(function(){
    audio.pause();
    var prev = $('#playlist li.active').prev();
    if (prev.length == 0) {
        prev = $('#playlist li:last-child');
    }
    initAudio(prev);
  audio.play();
  showDuration();
});

//Playlist Song Click
$('#playlist li').click(function () {
    audio.pause();
    initAudio($(this));
  $('#play').hide();
  $('#pause').show();
  $('#duration').fadeIn(400);
  audio.play();
  showDuration();
});

//Volume Control
$('#volume').change(function(){
  audio.volume = parseFloat(this.value / 10);
});
  
//Time Duration
function showDuration(){
  $(audio).bind('timeupdate', function(){
    //Get hours and minutes
    var s = parseInt(audio.currentTime % 60);
    var m = parseInt((audio.currentTime / 60) % 60);
    //Add 0 if seconds less than 10
    if (s < 10) {
      s = '0' + s;
    }
    $('#duration').html(m + '.' + s); 
    var value = 0;
    if (audio.currentTime > 0) {
      value = Math.floor((100 / audio.duration) * audio.currentTime);
    }
    $('#progress').css('width',value+'%');
  });
}</script>





<!-- layout script-->


<script>



    function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }
    
  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
        htmlbodyHeightUpdate()
    });
  });

  </script>

