
<div class="" style="background: #F1F2F3">
<%= simple_form_for(@how) do |f| %>
 <%= f.error_notification %>

 <% if how.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(how.errors.count, "error") %> prohibited this how from being saved:</h2>

      <ul>
      <% how.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <!-- Main section-->
      <main class="container">
        <!-- Page content-->
        <section>
          <div class="container-fluid">
            <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                
                
              </div>
              <div class="card-body lead">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0"><strong>Title,</strong> starting with "How to" if applicable</p>
                    </div>
                    <div class="col-md-8 col-sm-8">



                      <%= f.input :title, :label => 'Example: How to open a business bank account in South Africa ', :placeholder => "How to ...", :class => "form-control" %>
                     
                    </div>
                  </div>




       







                    <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">How Category</p>
                    </div>



                    <div class="col-md-5 col-sm-8">

                       <label>Select a category for this Post</label>


                       <%= f.collection_select :howcategory_id, Howcategory.all, :id, :name, {:include_blank => 'Select How Category'}, :class => "form-control", input_html: { class: "dropdown-toggle "} %>
                      
                    </div>
                  </div>



                                      <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Duration</p>
                    </div>



                    <div class="col-md-5 col-sm-8">

                       <label>Select from below, the average finishing time if applicable</label>


                       <div class="form-control"><%= f.select :days, ((0..500).map {|i| [i,i] } << ["No limit",nil]) %> <%= f.label :days %></div>
    <div class="form-control"> <%= f.select :hours, ((0..12).map {|i| [i,i] } << ["No limit",nil]) %> <%= f.label :hours %></div>
    <div class="form-control"><%= f.select :minutes, ((0..60).map {|i| [i,i] } << ["No limit",nil]) %> <%= f.label :minutes %></div>
    
                      
                    </div>
                  </div>




    

    








                  <div class="form-group lead">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Featured Image </p>
                    </div>
                    <div class="col-md-8 col-sm-8 bg-green-dft">


                      <label style="color: #FFFFFF; font-family: Questrial"; >Add a nice image which will show as a banner above your Echo </label>

                      <%= f.file_field :howcover %>


                      
                    </div>
                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->


            <%= f.label :tag_list, 'Tags (separated with comas)' %>
<%# f.text_field :tag_list, class: 'form-control' %>

<%# f.select :tag_ids, Tag.all.pluck(:name, :id), {}, {multiple: true, class: "selectize"} %>

<%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: "selectize"} %>


<!--start main content card-->

             <!-- UISELECT-->
            <div class="card lead">
              <div class="card-heading">
                <div class="card-title">Short Description</div>
               
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0"></p>
                    </div>
                    <div class="col-md-12 col-sm-12">

                      <label> Give a short description/summary or go straight to methods & directions in the next field </label>
                            <%= f.trix_editor :description, placeholder: "Short description or summary goes here" %>

                           

                          

                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->


    

<!--end main content card-->




<!--image 2  card-->

             <!-- UISELECT-->
            <!--div class="card">
              <div class="card-heading">
                <div class="card-title">Featured Image 2</div>
             
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                 















                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                   
                    </div>
                    <div class="col-md-8 col-sm-8 bg-green-dft">


                      <label style="color: #FFFFFF; font-family: Questrial"; >Add another nice image which will show in the middle content of your Echo </label>

                      <%# f.file_field :echoimage2 %>


                    </div>
                  </div>
                



                </div>
              </div>
            </div-->
            <!-- END UISELECT-->

            

<!--image2 ends-->



<!--start second content card-->

             <!-- UISELECT-->
            <div class="card lead">
              <div class="card-heading">
                <div class="card-title">Steps/Method/Directions</div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">

                    <div class="col-md-12 col-sm-12">

                      <label style="color: #ff0000"> In a format of numbered or bullet points </label>
                            <%= f.trix_editor :subbody2, placeholder: "Steps, method or directions go here" %>

                      
                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            

<!--end content 2 card-->




<!--image 2  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Featured video</div>
             
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                 















                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">YouTube Video URL</p>
                    </div>
                    <div class="col-md-5 col-sm-8 ">




                     

                      <%= f.input :videourl, :label => 'Copy and paste your YouTube video link in below field', placeholder: "example https://www.youtube.com/watch?v=eKFTSSKCzWA" %>



                      
                    </div>
                  </div>
                



                </div>
              </div>
            </div>
            <!-- END UISELECT-->

            <!--start main content card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">More Method & Directions</div>
               
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      <p class="m0">Optional</p>
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label> Additional method & directions </label>
                            <%= f.trix_editor :subbody1, placeholder: "Additional content goes here" %>

                           

                          

                    </div>
                  </div>



                    









                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->


            

<!--image2 ends-->


<!--start acknowledgments  card-->

             <!-- UISELECT-->
            <!--div class="card">
              <div class="card-heading">
                <div class="card-title">Acknowledgments</div>
        
              </div>
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                    
                    </div>
                    <div class="col-md-8 col-sm-8">

                      <label>Add acknowledgments (if available) </label>
                            <%# f.trix_editor :acknowledgments, placeholder: "List acknowledgments here. You can number them or in bullet points" %>

                      
                    </div>
                  </div>



              
                 

                </div>
              </div>
            </div-->
            <!-- END UISELECT-->

            

<!--end Acknowledgments-->

                           <!-- begin col-6 -->
          <div class="card-body">
              <div class="panel-group" id="accordion">


              <!--Services-->
                <div class="panel overflow-hidden card-divider btn-raised">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#ingredients">
                      <i class="fa fa-plus-circle pull-right title-20px-black blk"></i> 
                    <span class="title-20px-black blk">Is this post a recipe or cooking related? Click here</span>
                  </a>
                </h3>
              </div>
              <div id="ingredients" class="panel-collapse collapse">
                <div class="panel-body lead">
                  <div class="col-md-12 col-sm-12">

                      <label><strong>Add Ingredients:</strong> in a format of numbered or bullet points </label>
                            <%= f.trix_editor :ingredients, placeholder: "Ingredients list goes here" %>

                      
                    </div>
                </div>
              </div>
            </div>
            <br>
            <!--Services ends-->


<!--start references  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">References</div>
        
              </div>
              <div class="card-body lead">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      
                    </div>
                    <div class="col-md-12 col-sm-12">

                      <label>Add references to this Echo (if available) </label>
                            <%= f.trix_editor :references, placeholder: "List your references here. You can number them or in bullet points and add external links" %>

                      
                    </div>
                  </div>



              
                 

                </div>
              </div>
            </div>
            <!-- END UISELECT-->


            <!--start hints and tips  card-->

             <!-- UISELECT-->
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Hints and Tips</div>
        
              </div>
              <div class="card-body lead">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-4">
                      
                    </div>
                    <div class="col-md-12 col-sm-12">

                      <label>Add any additional hints and tips to this  </label>
                            <%= f.trix_editor :hints_and_tips, placeholder: "List hints and tips" %>

                      
                    </div>
                  </div>



              
                 

                </div>
              </div>
            </div>
            <!-- END hints and tips-->

            

<!--end Acknowledgments-->




<br>

<div class="form-actions text-center">
    <%= f.button :submit, class: "bg-green-dft" %>
  </div>

<br>



           

                  
                </div>
              </div>
            </div><br><br><br><br>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
  
  <% end %>

</div>







  <div class="modal fade tag-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Add Tag</h4>
      </div>
      <div class="modal-body">

         <!--div class="modal-body">
        <%# form_for Tag.new do |f| %>
          <div class="form-group">
            <%# f.label :name %>
            <%# f.text_field :name, class: "form-control" %>
          </div-->
          
          <div class="form-group">
            <%# f.submit class: "btn btn-primary" %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>


<!-- end Form-->






















     


