<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title></title>
    <!-- Vendor styles-->
    <!-- build:css(../app) css/vendor.css-->
    
  </head>
  <body class="theme-1">
    <div class="layout-container">
     

      <!-- top navbar-->
      <header class="header-container">
        <!--nav>
          <ul class="visible-xs visible-sm">
            <li><a id="sidebar-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
          </ul>
          <ul class="hidden-xs">
            <li><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
          </ul>
          <h2 class="header-title">Profile</h2>
          <ul class="pull-right">
            <li><a id="header-search" href="#" class="ripple"><em class="ion-ios-search-strong"></em></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple"><em class="ion-person"></em><sup class="badge bg-danger">3</sup></a>
              <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                <li><a href="profile.html"><em class="ion-home icon-fw"></em>Profile</a></li>
                <li><a href="messages.html"><em class="ion-gear-a icon-fw"></em>Messages</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="user.login.html"><em class="ion-log-out icon-fw"></em>Logout</a></li>
              </ul>
            </li>
            <li><a id="header-settings" href="#" class="ripple"><em class="ion-gear-b"></em></a></li>
          </ul>
        </nav-->
      </header>


      <!-- sidebar-->
      <!--aside class="sidebar-container">
        <div class="sidebar-header">
          <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="#" class="sidebar-header-logo"><img src="img/logo.png" data-svg-replace="img/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">Centric</span></a>
        </div>
        <div class="sidebar-content">
          <div class="sidebar-toolbar text-center"><a href=""><img src="img/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
            <div class="mt">Welcome, Willie Webb</div>
          </div>
          <nav class="sidebar-nav">
            <ul>
              <li><a href="dashboard.html" class="ripple"><span class="pull-right nav-label"><span class="badge bg-success">2</span></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/aperture.svg" alt="MenuItem" class="hidden"></span><span>Dashboard</span></a></li>
              <li><a href="cards.html" class="ripple"><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/radio-waves.svg" alt="MenuItem" class="hidden"></span><span>Cards</span></a></li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/connection-bars.svg" alt="MenuItem" class="hidden"></span><span>Charts</span></a>
                <ul class="sidebar-subnav">
                  <li><a href="flot.html" class="ripple"><span class="pull-right nav-label"></span><span>Flot</span></a></li>
                  <li><a href="radial.html" class="ripple"><span class="pull-right nav-label"></span><span>Radial</span></a></li>
                  <li><a href="rickshaw.html" class="ripple"><span class="pull-right nav-label"></span><span>Rickshaw</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/clipboard.svg" alt="MenuItem" class="hidden"></span><span>Forms</span></a>
                <ul class="sidebar-subnav">
                  <li><a href="forms.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a href="validation.html" class="ripple"><span class="pull-right nav-label"></span><span>Validation</span></a></li>
                  <li><a href="forms.advanced.html" class="ripple"><span class="pull-right nav-label"></span><span>Advanced</span></a></li>
                  <li><a href="material.html" class="ripple"><span class="pull-right nav-label"></span><span>Material</span></a></li>
                  <li><a href="editor.html" class="ripple"><span class="pull-right nav-label"></span><span>Editors</span></a></li>
                  <li><a href="dropzone.html" class="ripple"><span class="pull-right nav-label"></span><span>Dropzone</span></a></li>
                  <li><a href="xeditable.html" class="ripple"><span class="pull-right nav-label"></span><span>xEditable</span></a></li>
                  <li><a href="wizard.html" class="ripple"><span class="pull-right nav-label"></span><span>Wizard</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/navicon.svg" alt="MenuItem" class="hidden"></span><span>Tables</span></a>
                <ul id="tables" class="sidebar-subnav">
                  <li><a href="tables.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a href="datatable.html" class="ripple"><span class="pull-right nav-label"></span><span>Datatable</span></a></li>
                  <li><a href="bootgrid.html" class="ripple"><span class="pull-right nav-label"></span><span>Bootgrid</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/grid.svg" alt="MenuItem" class="hidden"></span><span>Layouts</span></a>
                <ul id="layouts" class="sidebar-subnav">
                  <li><a href="layouts.columns.html" class="ripple"><span class="pull-right nav-label"></span><span>Columns</span></a></li>
                  <li><a href="layouts.overlap.html" class="ripple"><span class="pull-right nav-label"></span><span>Overlap</span></a></li>
                  <li><a href="layouts.boxed.html" class="ripple"><span class="pull-right nav-label"></span><span>Boxed</span></a></li>
                  <li><a href="layouts.tabs.html" class="ripple"><span class="pull-right nav-label"></span><span>Tabs</span></a></li>
                  <li><a href="layouts.containers.html" class="ripple"><span class="pull-right nav-label"></span><span>Containers</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/levels.svg" alt="MenuItem" class="hidden"></span><span>Elements</span></a>
                <ul id="elements" class="sidebar-subnav">
                  <li><a href="colors.html" class="ripple"><span class="pull-right nav-label"></span><span>Colors</span></a></li>
                  <li><a href="whiteframes.html" class="ripple"><span class="pull-right nav-label"></span><span>Whiteframes</span></a></li>
                  <li><a href="lists.html" class="ripple"><span class="pull-right nav-label"></span><span>Lists</span></a></li>
                  <li><a href="bootstrapui.html" class="ripple"><span class="pull-right nav-label"></span><span>Bootstrap</span></a></li>
                  <li><a href="buttons.html" class="ripple"><span class="pull-right nav-label"></span><span>Buttons</span></a></li>
                  <li><a href="sweetalert.html"><span class="pull-right nav-label"></span><span>Sweet-alert</span></a></li>
                  <li><a href="spinners.html" class="ripple"><span class="pull-right nav-label"></span><span>Spinners</span></a></li>
                  <li><a href="nestable.html" class="ripple"><span class="pull-right nav-label"></span><span>Nestable</span></a></li>
                  <li><a href="grid.html" class="ripple"><span class="pull-right nav-label"></span><span>Grid</span></a></li>
                  <li><a href="grid-masonry.html" class="ripple"><span class="pull-right nav-label"></span><span>Grid Masonry</span></a></li>
                  <li><a href="typography.html" class="ripple"><span class="pull-right nav-label"></span><span>Typography</span></a></li>
                  <li><a href="icons.html" class="ripple"><span class="pull-right nav-label"></span><span>Icons</span></a></li>
                  <li><a href="utilities.html" class="ripple"><span class="pull-right nav-label"></span><span>Utilities</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/planet.svg" alt="MenuItem" class="hidden"></span><span>Maps</span></a>
                <ul id="maps" class="sidebar-subnav">
                  <li><a href="google-map-full.html" class="ripple"><span class="pull-right nav-label"></span><span>Google Maps Full</span></a></li>
                  <li><a href="google-map.html" class="ripple"><span class="pull-right nav-label"></span><span>Google Maps</span></a></li>
                  <li><a href="vector-map.html" class="ripple"><span class="pull-right nav-label"></span><span>Vector Maps</span></a></li>
                  <li><a href="datamaps.html" class="ripple"><span class="pull-right nav-label"></span><span>Datamaps</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/ios-browsers.svg" alt="MenuItem" class="hidden"></span><span>Pages</span></a>
                <ul id="pages" class="sidebar-subnav">
                  <li><a href="timeline.html" class="ripple"><span class="pull-right nav-label"></span><span>Timeline</span></a></li>
                  <li><a href="invoice.html" class="ripple"><span class="pull-right nav-label"></span><span>Invoice</span></a></li>
                  <li><a href="pricing.html" class="ripple"><span class="pull-right nav-label"></span><span>Pricing</span></a></li>
                  <li><a href="contacts.html" class="ripple"><span class="pull-right nav-label"></span><span>Contacts</span></a></li>
                  <li><a href="faq.html" class="ripple"><span class="pull-right nav-label"></span><span>FAQ</span></a></li>
                  <li><a href="projects.html" class="ripple"><span class="pull-right nav-label"></span><span>Projects</span></a></li>
                  <li><a href="blog.html" class="ripple"><span class="pull-right nav-label"></span><span>Blog</span></a></li>
                  <li><a href="blog.article.html" class="ripple"><span class="pull-right nav-label"></span><span>Article</span></a></li>
                  <li><a href="profile.html" class="ripple"><span class="pull-right nav-label"></span><span>Profile</span></a></li>
                  <li><a href="gallery.html" class="ripple"><span class="pull-right nav-label"></span><span>Gallery</span></a></li>
                  <li><a href="wall.html" class="ripple"><span class="pull-right nav-label"></span><span>Wall</span></a></li>
                  <li><a href="search.html" class="ripple"><span class="pull-right nav-label"></span><span>Search</span></a></li>
                  <li><a href="messages.html" class="ripple"><span class="pull-right nav-label"></span><span>Messages Board</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/person-stalker.svg" alt="MenuItem" class="hidden"></span><span>User</span></a>
                <ul id="user" class="sidebar-subnav">
                  <li><a href="login.html" class="ripple"><span class="pull-right nav-label"></span><span>Login</span></a></li>
                  <li><a href="signup.html" class="ripple"><span class="pull-right nav-label"></span><span>Signup</span></a></li>
                  <li><a href="lock.html" class="ripple"><span class="pull-right nav-label"></span><span>Lock</span></a></li>
                  <li><a href="recover.html" class="ripple"><span class="pull-right nav-label"></span><span>Recover</span></a></li>
                </ul>
              </li>
              <li><a href="../../angularjs/" class="ripple"><span class="nav-icon"><em class="ion-android-open"></em></span><span>AngularJS</span></a></li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="sidebar-layout-obfuscator"></div-->

      <!-- Main section-->
<main class="bg-white">
        <!-- Page content-->







        <section class="bg-upfrica-grey"><!--custombgD9E0E7-->
          <div class="container-overlap bg-red-500"><%# image_tag "cover2.jpg" %>

            <div class="container container-md">



<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row"><!-- Grid starts-->
  <div class="col-6 col-md-2 text-center"><!--Profilephoto-->
          <% if @how.profile.pesnavatar? %>
        <%= link_to (image_tag(@how.profile.pesnavatar.url(:large), :class => "img-circle thumb48 btn-raised btn-circle text-center", :alt =>"user")), profile_path(@how.profile_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "media-object img-circle thumb40 btn-raised btn-circle text-center", :alt =>"user")), profile_path(@how.profile_id) %>


       <% end %>

       <br>

       <small>Posted by</small>


<%= link_to @how.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ @how.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(@how.profile_id) if @how.profile.first_name || @how.profile.last_name %> 
<small>
<% if @how.created_at > Time.now.beginning_of_day %>
    <%="#{time_ago_in_words(@how.created_at)} ago"%> 
<% else %>
    <%= @how.created_at.strftime("%b %d, %Y %I:%M %p") %> 
<% end %></small>

       <!--end of Profilephoto-->
         
       </div><!-- Grid left-->


  <div class="col-6 col-md-8"><!--mid for title-->


<span class=" text-center"><% if @how.title? %>
<h2 class="text-center cap"><%= best_in_place_if @how.profile == current_profile, @how, :title,  :as => :textarea, :class => "txtgrey", :ok_button => 'Save ',  :cancel_button => ' Cancel' %></h2>

<% else %>

<% end %>
</span><!--title ends-->

<hr>

<div class="text-center">

                       Views <%= @how.impressionist_count(:filter=>:session_hash) %> | Likes 3 | Comments 2
                  

    </div>







  </div><!-- Grid mid ends-->

  
  <div class="col-6 col-md-2 text-center dropdown">

  <!-- START dropdown-->
                       
                          <span type="button" data-toggle="dropdown" class="wht" style="font-size: 16px; color: #ffffff;""><strong>

                          <a href="#">

                          <em class="ion-android-share-alt icon-2x"></em>
                          <strong>Share</strong>

                          </a>

                          </strong></span>
                          <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="#">Hide post</a></li>
                            <li><a href="#">Stop following</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Report</a></li>
                          </ul>
                       
                        <!-- END dropdown-->
    

  </div><!-- right-->
</div><!-- Grid ends-->










          

              

            


             


            </div>
          </div>



          <div class="container container-md">
            <div class="row">
              


              <!-- Left column-->
              <div class="col-md-7 col-lg-8">
                <form editable-form="" name="user.profileForm" class="card">
                  <h3 class="card-heading title-20px-black pb0">
                   
                    <!-- START dropdown-->
                    <!--div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                      </ul>
                    </div-->

                    <% if @how.description.present? %>

                    <!-- END dropdown-->Summary
                  </h3>

                  <div class=" lead m">
                    <%= sanitize(@how.description, tags: %w(strong em p br div ul ol li)).html_safe %>

                  </div>

<% else %>
<% end %>

<div>

<% if @how.howcover? %>
                    <p class="text-center"><img src="<%= @how.howcover.url(:large) %>" alt="Echo Image" class="img-thumbnail img-responsive"></p>

<% else %>

<% end %>
</div>

                   <!--edit/destroy user's hows-->
<% if profile_signed_in? && current_profile == @how.profile %>

                    
                  <div class="card-divider cutbtn20px"></div>
                  <div class="card-offset cutbtn20px">
                    <div class="card-offset-item text-right cutbtn20px">

                   


                    


                         
                <%= link_to edit_how_path(@how) do %><span class="btn-raised btn btn-warning btn-circle btn-lg"><em class="ion-edit"></em> <% end %></span>

                


                <%= link_to @how, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this post?' } do %><span class="btn-raised btn btn-default btn-circle btn-lg"><em class="ion-close"></em> <% end %></span>

               


                    </div>
                  </div>
                   <% else %>

                    <% end %>

                  <!--edit end-->
                  
                  <!-- begin col-6 -->
          <div class="card-body">
              <div class="panel-group" id="accordion">

    <% if @how.subbody2.present? %>
              <!--Services-->
                <div class="panel overflow-hidden card-divider btn-raised">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#steps">
                      <i class="fa fa-plus-circle pull-right title-20px-black blk"></i> 
                    <span class="title-20px-black blk">Method/Steps/Directions</span>
                  </a>
                </h3>
              </div>
              <div id="steps" class="panel-collapse collapse in">
                <div class="panel-body lead txtblack m">
                  <%=raw @how.subbody2 if @how.subbody2 %>
                </div>
              </div>
            </div>
            <!--Services ends-->

                    <% else %>

                    <% end %>

                      <!--Media-->
                      <% if @how.videourl? %>
                <div class="panel overflow-hidden card-divider btn-raised ">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#media">
                      <i class="fa fa-plus-circle pull-right title-20px-black blk"></i> 
                    <span class="title-20px-black blk">Video</span>
                  </a>
                </h3>
              </div>
            
              <div id="media" class="panel-collapse collapse text-center">
                <div class="panel-body text-center">
                


                            <div class="post-content">
                                <!-- begin post-video -->
                            <div class="post-video">
                                    <div class="embed-responsive embed-responsive-16by9">
                                       <%= embed(@how.videourl) %> 
                                    </div>
                                </div>

                                </div>




                    


                </div>
              </div>
            </div>
            <% else %>
                        <% end %>
            <!--media ends-->




          <!--Social media-->

          <%# if @company.facebookurl? || @company.facebookurl? || @company.twitterurl? || @company.linkedinurl? || @company.instagramurl? || @company.googleplusurl? || @company.pinteresturl?   %>



<% if @how.hints_and_tips? %>

            <div class="panel overflow-hidden card-divider btn-raised">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#hints_and_tips">
                      <i class="fa fa-plus-circle pull-right title-20px-black blk"></i> 
                    <span class="title-20px-black blk">Hints & Tips <%# @company.name %>  </span>
                  </a>
                </h3>
              </div>
              <div id="hints_and_tips" class="panel-collapse collapse">
                <div class="panel-body lead m">
                  <%=raw @how.hints_and_tips %>
                </div>
              </div>
            </div>


           <% else %>

           <% end %>

           <% if @how.references? %>
<br>
<br>
<h4 class="section-title"><span>References</span></h4>
<div class="post-by">
 <%= sanitize(@how.references, tags: %w(strong em p br div ul ol li), :class=> "post-by").html_safe %>

</div>
<% else %>

<% end %>





            <!--div class="panel panel-inverse overflow-hidden">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      <i class="fa fa-plus-circle pull-right"></i> 
                    Collapsible Group Item #3
                  </a>
                </h3>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-inverse overflow-hidden">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      <i class="fa fa-plus-circle pull-right"></i> 
                    Collapsible Group Item #4
                  </a>
                </h3>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-inverse overflow-hidden">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                      <i class="fa fa-plus-circle pull-right"></i> 
                    Collapsible Group Item #5
                  </a>
                </h3>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-inverse overflow-hidden">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                      <i class="fa fa-plus-circle pull-right"></i> 
                    Collapsible Group Item #6
                  </a>
                </h3>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-inverse overflow-hidden">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                      <i class="fa fa-plus-circle pull-right"></i> 
                    Collapsible Group Item #7
                  </a>
                </h3>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div-->
          </div>
          </div>
          <!-- end col-6 -->


              

                  <div class="card-divider"></div>
                  
                </form>

                          
              </div>










              <!-- Right column-->
              <div class="col-md-5 col-lg-4">
                <div class="card">
                  <h5 class="card-heading">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                      </ul>
                    </div>
                    <!-- END dropdown-->Contacts
                  </h5>
                  <div class="mda-list">
                    <div class="mda-list-item"><img src="img/user/01.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Eric Graves</a></h3>
                        <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/02.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Jessie Cox</a></h3>
                        <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/03.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Marie Hall</a></h3>
                        <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
                      </div>
                    </div>
                    <div class="mda-list-item"><img src="img/user/04.jpg" alt="List user" class="mda-list-item-img">
                      <div class="mda-list-item-text mda-2-line">
                        <h3><a href="#">Guy Carpenter</a></h3>
                        <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pv0 text-right"><a href="#" class="btn btn-flat btn-info">View all</a></div>
                  <div class="card-divider"></div>
                  <h5 class="card-heading">Activity</h5>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Added</strong><span class="mr-sm">a new issue</span><a href="#">#5478</a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>an hour ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-danger"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Commented</strong><span class="mr-sm"> on the project</span><a href="#">Material</a></p>
                      <p class="bl pl"><i>That's awesome!</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Completed</strong><span> all tasks asigned this week</span></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Published</strong><span class="mr-sm"> new photos on the album</span><a href="#">WorldTrip</a></p>
                      <p><a href="#"><img src="img/pic4.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic5.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic6.jpg" alt="Pic" class="mr-sm thumb48"></a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="clearfix">
                      <p class="pull-left mr"><em class="ion-record text-primary"></em></p>
                      <div class="oh">
                        <p><strong class="mr-sm">Following</strong><span class="mr-sm">Jane Kuhn</span></p>
                        <p><span class="image-list"><a href="#"><img src="img/user/03.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/04.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/05.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/06.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/07.jpg" alt="User" class="img-circle thumb32"></a><strong><a href="#" class="ml-sm link-unstyled">+200</a></strong></span></p>
                        <div class="clearfix">
                          <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
    </div>
    <!-- Search template-->
    <div tabindex="-1" role="dialog" class="modal modal-top fade modal-search">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-left">
              <button type="button" data-dismiss="modal" class="btn btn-flat"><em class="ion-arrow-left-c icon-24"></em></button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-flat"><em class="ion-android-microphone icon-24"></em></button>
            </div>
            <form action="#" class="oh">
              <div class="mda-form-control pt0">
                <input type="text" placeholder="Search.." data-localize="header.SEARCH" class="form-control header-input-search">
                <div class="mda-form-control-line"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <!-- End Search template-->
    
    <!-- End Settings template-->
    <!-- Google Maps API-->
<script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>

    
  


    <!-- End Settings template-->
    <!-- Google Maps API-->
    
  </body>
</html>