<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @how.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @how.description %>
</p>

<p>
  <strong>Howcover:</strong>
  <%= @how.howcover %>
</p>

<p>
  <strong>Video:</strong>
  <%= @how.video %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @how.duration %>
</p>

<p>
  <strong>Recipetips:</strong>
  <%= @how.recipetips %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @how.slug %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @how.subtitle %>
</p>

<p>
  <strong>Subtitle1:</strong>
  <%= @how.subtitle1 %>
</p>

<p>
  <strong>Subtitle2:</strong>
  <%= @how.subtitle2 %>
</p>

<p>
  <strong>Subtitle3:</strong>
  <%= @how.subtitle3 %>
</p>

<p>
  <strong>Subbody1:</strong>
  <%= @how.subbody1 %>
</p>

<p>
  <strong>Subbody2:</strong>
  <%= @how.subbody2 %>
</p>

<p>
  <strong>Subbody3:</strong>
  <%= @how.subbody3 %>
</p>

<%= link_to 'Edit', edit_how_path(@how) %> |
<%= link_to 'Back', hows_path %>
