<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :about %>
    <%= f.input :websiteurl %>

    <div class="form-group">
    <%= f.label :location_ids, "CLOSE LOCATION" %>
    <%= f.select :location_ids, Location.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
<br>
  </div>

  <br>

  <div class="form-inputs">

  <%= f.label :tag_list, 'Tags (separated with comas)' %>
<%# f.text_field :tag_list, class: 'form-control' %>

<%# f.select :tag_ids, Tag.all.pluck(:name, :id), {}, {multiple: true, class: "selectize"} %>

<%# f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: "selectize"} %>

<%= f.input :skill_list, value: f.object.skill_list.to_s %>


<%# f.select :tag_ids,
  Tag.all.map { |u| [u.name, u.id] },
               { include_blank: true },
          
               { multiple: true, class: 'chosen-select' }

               %>

             </div>

             <br>

             <%= f.input :skill_list, value: f.object.skill_list.to_s %>

<br>

  <div class="field">

   <%= f.label :add_company_logo %><br>
    <%= f.file_field :companylogo %><br>

    </div>

    <div class="form-group">
    <legend>Company Profile Cover</legend>
    <%= f.file_field :companycover, class: "btn btn-primary" %>
    <%= f.hidden_field :companycover_cache %>
    <br>

    
    

    <% if f.object.companycover? %>
      <%= image_tag f.object.companycover.large.url, :class => "img-responsive" %>
      <br>
      <%= f.label :remove_image, :class => "lead"  %>
      <%= f.check_box :remove_companycover %> 
    <% end %>
  </div>
  <br>





  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
