<%= simple_form_for(@echocategory) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :echocatimage %>
  </div>



 








  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
