
<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ] " role="navigation">
        <div class="[ container ]">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="[ navbar-header ]">
                <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="[ sr-only ]">Toggle navigation</span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                </button>
                <div class="upfrica-black-brand">

                    <%= link_to root_path, turbolinks: true, :class => "[ upfrica-black-brand ][ animate ] img-responsive " do %>
    <%= image_tag("upFrica.png") %>
<% end %>


                    

                   <%# link_to "upFrica", root_path, turbolinks: true, :class => "[ navbar-brand ][ animate ]" %>



                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                <ul class="[ nav navbar-nav navbar-right ]">
                    <li class="[ visible-xs ]">

                        <!--form action="http://bootsnipp.com/search" method="GET" role="search">
                            <div class="[ input-group ]">
                                <input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets">
                                <span class="[ input-group-btn ]">
                                    <button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>
                                    <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                                </span>
                            </div>
                        </form-->



                                  <%= form_with url: search_path, local: true, method: :get, :class => "input-group" do |form| %>
               <div class="[ input-group ]">
                <!--input type="text" name="q" id="q" class="form-control" placeholder="Search insideGH" data-behavior= "autocomplete"  /-->
                <%= form.text_field :q, placeholder: "Autocomplete Search", class: "form-control" %>

                <span class="[ input-group-btn ]">
                                    <button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>

                <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                                </span>
              </div >
        
            <% end %>



                    </li>

                    


                     <li class="[ hidden-xs ]"><a href="#toggle-search" class="[ animate ]"><span class=""><em class="ion-search" style="font-size:20px; color: rgb(95, 176, 228);"></em>&nbspSearch Inside GH</span></a></li>


                                  <!--Add starts-->
        <li class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
              

              <i class="fa fa-plus"></i><!--em class="ion-plus"></em--><strong>Add</strong>

              
              
            </a>
            <ul class="dropdown-menu media-list pull-right animated fadeInDown">



                        <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_company_path"><i class="fa fa-briefcase media-object bg-purple"></i></a></div>
                                    <div class="media-body">     


                                        <h6><%= link_to 'Echo (Write an Article)', new_echo_path, :class => "media-heading" %></h6>
                                        


                                    </div>
                             
</li>





                    <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_listing_path"><i class="fa fa-shopping-cart media-object bg-green"></i></a></div>
                                    <div class="media-body">    


                                        <h6><%= link_to 'Market Place', new_listing_path, :class => "media-heading" %></h6>
                                        <!--div class="text-muted f-s-11">25 minutes ago</div-->


                                    </div>
                             
                            </li>














                                        <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_song_path"><i class="fa fa-music media-object bg-black"></i></a></div>
                                    <div class="media-body">     


                                        <h6><%= link_to 'Upload Songs', new_song_path, :class => "media-heading" %></h6>
                                        <!--div class="text-muted f-s-11">25 minutes ago</div-->


                                    </div>
                             
                            </li>

                           
                            

                            <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_urbanterm_path"><i class="fa fa-text-width media-object bg-red"></i></a></div>
                                    <div class="media-body">    


                                        <h6><%= link_to 'Urban Term', new_urbanterm_path, :class => "media-heading" %></h6>
                                        


                                    </div>
                             
                            </li>




    <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_how_path"><i class="fa fa-wrench media-object bg-purple"></i></a></div>
                                    <div class="media-body">     


                                        <h6><%= link_to 'How To', new_how_path, :class => "media-heading" %></h6>
                                        


                                    </div>
                             
        </li>

            <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_company_path"><i class="fa fa-briefcase media-object bg-purple"></i></a></div>
                                    <div class="media-body">     


                                        <h6><%= link_to 'Company', new_company_path, :class => "media-heading" %></h6>
                                        


                                    </div>
                             
        </li>

            <li class="media ml-sm">
                               
                                    <div class="media-left"><a href="new_job_path"><i class="fa fa-black-tie media-object bg-purple"></i></a></div>
                                    <div class="media-body">     


                                        <h6><%= link_to 'Job', new_job_path, :class => "media-heading" %></h6>
                                        


                                    </div>
                             
        </li>







                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
            </ul>






          </li>




<!--Add ends-->


          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th-large"></i> Explore <span class="caret"></span></a>
          <ul class="dropdown-menu animated flipInX" role="menu">



            <li><a href="/echos"> Echo (Articles)</a></li>
            
            
            <li><a href="/urbanterms"> Ghana Urban Terms</a></li>
            <li><a href="/hows"> Hows</a></li>
            <li><a href="/events"> Events</a></li>
            <li><a href="/songs"> Music</a></li>
            <li><a href="/profiles"> People</a></li>
            <li><a href="/products"> Market place</a></li>
            <li><a href="/companies"> Companies</a></li>
            <li><a href="/jobs"> Jobs</a></li>
            

          </ul>
        </li>
                    

        <li>
                    
                    <%# link_to 'Urban Term', urbanterms_path, :class => "[ animate ]media-heading" %></li>





                        <ul class="[ dropdown-menu ]" role="menu">
                            

                            <li><a href="#" class="[ animate ]">Blog <span class="[ pull-right glyphicon glyphicon-pencil ]"></span></a></li>


                            <li><a href="#" class="[ animate ]">List of resources <span class="[ pull-right glyphicon glyphicon-align-justify ]"></span></a></li>
                            <li><a href="#" class="[ animate ]">Download Bootstrap <span class="[ pull-right glyphicon glyphicon-cloud-download ]"></span></a></li>
                            <li class="[ dropdown-header ]">Bootstrap Templates</li>
                            <li><a href="#" class="[ animate ]">Browse Templates <span class="[ pull-right glyphicon glyphicon-shopping-cart ]"></span></a></li>
                            <li class="[ dropdown-header ]">Builders</li>
                            <li><a href="#" class="[ animate ]">Form Builder <span class="[ pull-right glyphicon glyphicon-tasks ]"></span></a></li>
                            <li><a href="#" class="[ animate ]">Button Builder <span class="[ pull-right glyphicon glyphicon-edit ]"></span></a></li>
                        </ul>
                    </li>
                    <!--li class="[ dropdown ]">
                        <a href="#" class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Snippets <span class="[ caret ]"></span></a>
                        <ul class="[ dropdown-menu ]" role="menu">
                            <li><a href="#" class="[ animate ]">Featured <span class="[ pull-right glyphicon glyphicon-star ]"></span></a></li>
                            <li><a href="#" class="[ animate ]">Tags  <span class="[ pull-right glyphicon glyphicon-tags ]"></span></a></li>
                            <li class="[ dropdown-header ]">By Bootstrap Version</li>
                            <li><a href="#" class="[ animate ]">3.2.0</a></li>
                            <li><a href="#" class="[ animate ]">3.1.0</a></li>
                            <li><a href="#" class="[ animate ]">3.0.3</a></li>
                            <li><a href="#" class="[ animate ]">3.0.1</a></li>
                            <li><a href="#" class="[ animate ]">3.0.0</a></li>
                            <li><a href="#" class="[ animate ]">2.3.2</a></li>
                        </ul>
                    </li-->

                   
                 





                  <li class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
              <i class="fa fa-bell-o"></i>
              <span class="label">5</span>
            </a>
            <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
            </ul>
          </li>
          <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              
            

     

             <% if current_profile.pesnavatar? %>
        <%= image_tag current_profile.pesnavatar.url(:small), :class => "img-circle" %>
        <% else %> 
        <%= image_tag("noimage.jpg", :class => "img-circle ") %>


       <% end %>



              <%# "(Admin)" if current_profile.admin? %>



              <span class="hidden-xs"><%= current_profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ current_profile.last_name.split(" ").map(&:capitalize).join(" ") if current_profile.first_name || current_profile.last_name %> <%= "(Admin)" if current_profile.admin? %> </span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInLeft">
              <li class="arrow"></li>
              <li><%= link_to "Profile page", current_profile %></li>
              <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
              <li><a href="javascript:;">Calendar</a></li>
              <li><a href="javascript:;">Setting</a></li>
              <li class="divider"></li>

              <li><%= link_to('Log Out', destroy_profile_session_path, :method => :delete) %></li>
            </ul>
          </li>

          
        </ul>






            </div>
        </div>
        <div class="[ bootsnipp-search animate ]">
            <div class="[ container ]">
               <%= form_with url: search_path, local: true, method: :get, :class => "smallsearch col-sm-8 col-xs-11" do |form| %>
                    <div class="[ input-group ]">

                        <!--input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets and hit enter"-->

                        <%= form.text_field :q, placeholder: "Start typing, select result or hit enter", data: { behavior: "autocomplete" }, class: "form-control input-lg" %>
                        

                        <span class="[ input-group-btn ]">
                            <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                        </span>
                    </div>
                <% end %>
            </div>
        </div>
    </nav>
<!--END-->








