<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @urbanterm.title %>
</p>

<p>
  <strong>Meaning1:</strong>
  <%= @urbanterm.meaning1 %>
</p>

<p>
  <strong>Meaning2:</strong>
  <%= @urbanterm.meaning2 %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @urbanterm.origin %>
</p>

<p>
  <strong>Example1:</strong>
  <%= @urbanterm.example1 %>
</p>

<p>
  <strong>Example2:</strong>
  <%= @urbanterm.example2 %>
</p>

<p>
  <strong>Example3:</strong>
  <%= @urbanterm.example3 %>
</p>

<p>
  <strong>Example4:</strong>
  <%= @urbanterm.example4 %>
</p>

<p>
  <strong>Termcover:</strong>
  <%= @urbanterm.termcover %>
</p>

<p>
  <strong>Termaudio:</strong>
  <%= @urbanterm.termaudio %>
</p>

<%= link_to 'Edit', edit_urbanterm_path(@urbanterm) %> |
<%= link_to 'Back', urbanterms_path %>
